<div class="w-full h-[100dvh] flex justify-center items-center relative">
  <img class="absolute left-0 top-0" src={img1} alt="" />
  <img class="absolute right-0 bottom-0 -rotate-180 scale-x-[-1] " src={img1} alt="" />
  <div class="w-[90%] h-[85%] shadow-lg rounded-lg p-6 flex flex-col gap-5 lg:w-[60%] lg:flex-row">
    <div class="border border-[#f3d7ff] w-full rounded-lg overflow-hidden">
      <div class="p-3 lg:p-[60px]">
        <h1 class='text-3xl text-center font-bold'><span class='text-[#5b03e4]'>Contact Us</span> & Get In <span class='text-[#c03afe]'>Touch</span></h1>
        <form class='mt-10'>
          <div class="w-full grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4">
            <input class='outline-none bg-[#f9ebff] rounded-3xl p-3' type="text" placeholder='your Name...' />
            <input class='outline-none bg-[#f9ebff] rounded-3xl p-3' type="text" placeholder='your Surname...' />
            <input class='outline-none bg-[#f9ebff] rounded-3xl p-3' type="text" placeholder='your E-mail...' />
            <input class='outline-none bg-[#f9ebff] rounded-3xl p-3' type="text" placeholder='your Subject...' />
          </div>
          <div class="w-full mt-4">
            <textarea class='outline-none bg-[#f9ebff] w-full rounded-3xl p-3' name="" id="" cols="30" rows="10" placeholder="your Message"></textarea>

            <button class='bg-[#5b03e4] border-none text-white rounded-3xl w-full h-11'>Send Message Now</button>
          </div>
        </form>
      </div>
      <div class="w-full bg-gradient-to-r from-purple-700 to-indigo-900 h-full">
        <div class="w-full flex flex-col items-center justify-center gap-3 text-white lg:flex-row">
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffffff" d="M4.05 21H3v-5.875L8 14.1l2.9 2.9q1-.575 1.863-1.237t1.587-1.388q.775-.75 1.45-1.625t1.225-1.85l-2.85-2.875L15.1 3H21v1.05q0 3.15-1.35 6.2T15.8 15.8q-2.5 2.5-5.562 3.85T4.05 21" /></svg>
            <span>2645850609</span>
          </div>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffff" d="M20 18h-2V9.25L12 13L6 9.25V18H4V6h1.2l6.8 4.25L18.8 6H20m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2" /></svg>
            <span>info&commat;sunfi.com</span>
          </div>
          <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffff" d="M12 12q.825 0 1.413-.587T14 10q0-.825-.587-1.412T12 8q-.825 0-1.412.588T10 10q0 .825.588 1.413T12 12m0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22" /></svg>
            <span>Rivadavia 524 Este, Capital San Juan, Argentine</span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  