<div
  class="flex justify-center w-[253px] top-[937px] left-[176px] container-width-ecommerce"
>
  <h1 class="text-white font-bold text-xl">FEATURED PRODUCTS</h1>
</div>

<div
  class="container-width-ecommerce flex w-full h-full justify-between items-center relative"
>
  <div
    class="card w-[280px] h-[360px] rounded-xl shadow-2xl overflow-hidden relative text-center"
  >
    <img
      src="../../../../assets/images/ImagenesEcommerce/acad.png"
      alt="Imagen 3"
      class="mx-auto"
    />
    <div class="p-4">
      <h1 class="text-white text-xl font-bold mb-2">AUTOCAD 2023</h1>
      <h2 class="text-white text-xl mb-2">Autodesk</h2>
      <p class="text-white text-xl mb-2">$0000</p>
    </div>
    <div
      class="absolute bottom-0 left-0 w-full flex items-center justify-center opacity-0 transition-all duration-300 hover:opacity-100"
    >
      <button
        class="w-[120px] h-[45px] bg-black text-white font-bold rounded-full"
      >
        COMPRAR
      </button>
      <button
        class="w-[120px] h-[45px] bg-[#8f8690] text-black font-bold rounded-full"
      >
        VER
      </button>
    </div>
  </div>

  <div
    class="card w-[280px] h-[360px] rounded-xl shadow-2xl overflow-hidden relative text-center"
  >
    <img
      src="../../../../assets/images/ImagenesEcommerce/ap2025.png"
      alt="Imagen 3"
      class="mx-auto"
    />
    <div class="p-4">
      <h1 class="text-white text-xl font-bold mb-2">ADOBE PHOTOSHOP 2023</h1>
      <h2 class="text-white text-xl mb-2">Photoshop cc</h2>
      <p class="text-white text-xl mb-2">$0000</p>
    </div>
    <div
      class="absolute bottom-0 left-0 w-full flex items-center justify-center opacity-0 transition-all duration-300 hover:opacity-100"
    >
      <button
        class="w-[120px] h-[45px] bg-black text-white font-bold rounded-full"
      >
        COMPRAR
      </button>
      <button
        class="w-[120px] h-[45px] bg-[#8f8690] text-black font-bold rounded-full"
      >
        VER
      </button>
    </div>
  </div>

  <div
    class="card w-[280px] h-[360px] rounded-xl shadow-2xl overflow-hidden relative text-center"
  >
    <img
      src="../../../../assets/images/ImagenesEcommerce/opp.png"
      alt="Imagen 3"
      class="mx-auto"
    />
    <div class="p-4">
      <h1 class="text-white text-xl font-bold mb-2">
        OFFICE PROFESSIONAL PLUS
      </h1>
      <h2 class="text-white text-xl mb-2">2021</h2>
      <p class="text-white text-xl mb-2">$0000</p>
    </div>
    <div
      class="absolute bottom-0 left-0 w-full flex items-center justify-center opacity-0 transition-all duration-300 hover:opacity-100"
    >
      <button
        class="w-[120px] h-[45px] bg-black text-white font-bold rounded-full"
      >
        COMPRAR
      </button>
      <button
        class="w-[120px] h-[45px] bg-[#8f8690] text-black font-bold rounded-full"
      >
        VER
      </button>
    </div>
  </div>
</div>
