<app-navbar-comp></app-navbar-comp>

<div class="lg:w-full lg:flex lg:flex-row h-full bgnewProduct">
    <div class="lg:w-[25%] lg:h-full lg:flex lg:items-center ">
        <aside class="text-white bg-[#37133E] lg:min-h-screen  lg:h-full lg:w-full lg:my-auto">
            <div class="lg:flex lg:justify-center lg:py-5 border-b border-white border-opacity-30">
                <button class="border-transparent bg-[#290E2E] lg:p-5 lg:px-12  text-center text-[#D1C0D4] rounded-xl">
                    CREAR UN NUEVO PRODUCTO
                </button>
            </div>
            <div class="lg:flex lg:flex-row lg:gap-3 lg:p-5 lg:ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"/></svg>TUS PUBLICACIONES</div>

        </aside>

    </div>
    <div class="w-full h-full bgSearch p-7">
        <section class="w-full h-full">
            <p>hola</p>

        </section>

    </div>
    
    
</div>
