<div class="w-full h-full">
    <div class="flex flex-col w-full">

      <form action="" class="flex flex-col items-center w-full mx-auto">
        <div class="flex items-center mb-6">
          <div class="relative">
            <img src="../../../../assets/images/ImagenesEcommerce/userIconLogin.png" alt="" class="absolute left-0 top-1/2 transform -translate-y-1/2" />
            <input type="text" placeholder="Email" class="border-black border-b-[1px] pl-8 w-[290px] outline-none" />
          </div>
        </div>
        <div class="flex items-center mb-4">
          <div class="relative mb-6">
            <img src="../../../../assets/images/ImagenesEcommerce/passwordIconLogin.png" alt="" class="absolute left-0 top-1/2 transform -translate-y-1/2" />
            <input type="password" placeholder="Password" class="border-black border-b-[1px] pl-8 w-[290px] outline-none" />
          </div>
        </div>
        <div class="flex flex-row justify-between items-center w-full">
          <a href=""><h2 class="mr-4 font-bold text-xs">Forgot Password?</h2></a>
          <button type="submit" class="text-white rounded-full bg-black w-32 h-8 shadow-md hover:shadow-xl font-semibold">LOGIN</button>
        </div>
      </form>
    </div>
    <div class="flex flex-row justify-between font-semibold text-gray-400 text-xs items-center relative">
        <p>Or connect with</p>
        <div class="flex flex-row">
             <a href="" class="flex flex-row">
                <img src="../../../../assets/images/ImagenesEcommerce/googleIcon.png" alt="" class="min-w-1 mr-1">
                <p class="mr-7">Google</p>
             </a>
            <a href="" class="flex flex-row">
                <img src="../../../../assets/images/ImagenesEcommerce/facebookIcon.png" alt="" class="min-w-2 mr-1">
                <p>Facebook</p>
            </a>
        </div>
      </div>
  </div>