<div class="w-full h-[442px] flex justify-center items-center relative">
  <h1 class="absolute top-[20%] font-bold text-4xl md:hidden">LOGIN</h1>
  <div class="w-full h-full flex justify-center items-center">
    <form class="flex flex-col items-center w-full gap-7 md:gap-6">
      <div class="flex items-center gap-2 border-black border-b-[1px]">
        <img src="./../../../assets/images/ImagenesEcommerce/userIconLogin.png" alt="user-icon" class="w-[13px] h-[14px]">
        <input type="email" placeholder="Email" class=" outline-none w-[250px] sm:w-[400px] md:w-[300px]"/>
      </div>
      <div class="flex items-center gap-2 border-black border-b-[1px]">
        <img src="./../../../assets/images/ImagenesEcommerce/passwordIconLogin.png" alt="password-icon" class="w-[13px] h-[14px]">
        <input type="password" placeholder="Password" class=" outline-none w-[250px] sm:w-[400px] md:w-[300px]"/>
      </div>
      <div class="flex justify-between items-center w-full">
        <a class="mr-4 font-bold text-xs cursor-pointer">Forgot Password?</a>
        <button type="submit" class="text-white rounded-full bg-black w-24 h-8 shadow-md hover:shadow-xl font-semibold">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="absolute bottom-5 w-full flex justify-between text-gray-400 text-xs">
    <div class="flex justify-center items-center font-semibold">
      <p>Or connect with</p>
    </div>
    <div class="flex justify-center items-center gap-4">
      <a href="" class="flex items-center gap-2">
        <img src="./../../../assets/images/ImagenesEcommerce/googleIcon.png" alt="google-icon" class="w-[12px] h-[12px]">
        <p>Google</p>
      </a>
      <a href="" class="flex items-center gap-2">
        <img src="./../../../assets/images/ImagenesEcommerce/facebookIcon.png" alt="facebook-icon" class="w-[12px] h-[12px]">
        <p>Facebook</p>
      </a>
    </div>
  </div>
</div>