<!-- Header -->
<header>
    <nav class="bg-gradient-to-r from-[#b3c9dd] to-[#835089] h-[105px] border-b-[5px] border-[#834f89] flex items-center pl-5">
        <!-- Logo -->
        <a href="#" class="flex items-center">
            <img src="../../../../assets/images/logoDesign.png" alt="Suinfi Logo" class="h-[70px] w-[70px] cursor-pointer">
        </a>
    </nav>
</header>


<!-- End Header -->
<div class="w-full h-[calc(100vh-110px)] flex justify-center lg:items-center">
    <div class="h-96 mt-5 lg:w-[70%] lg:h-[600px] lg:shadow-xl lg:rounded-xl flex justify-center lg:min-w-[700px]">
        <div class="hidden w-[45%] min-w-[460px] lg:flex lg:items-center ">
            <img src="../../../../assets/images/ImagenesEcommerce/login-img.jpg" alt="Image login" class="w-full">
        </div>
        <div class="mx-4 flex flex-col lg:justify-center w-full lg:w-[45%]">
        <h1 class="text-[26px] font-semibold text[#2a2a2a] pb-5">Enter your e‑mail, phone, or Suinfi username</h1>
            <form action="" class="flex flex-col left-0">
                <label for="" class="pb-1">E‑mail, phone, or username</label>
                <input type="text" class="h-12 border-2 border-gray-300 rounded-md px-3 focus:border-red-500">
                <label for="" class="pb-1 pt-5">Password</label>
                <input type="password" class="h-12 border-2 border-gray-300 rounded-md px-3">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-closed" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4" /><path d="M3 15l2.5 -3.8" /><path d="M21 14.976l-2.492 -3.776" /><path d="M9 17l.5 -4" /><path d="M15 17l-.5 -4" /></svg> -->
                <button type="submit" class="bg-purple-500 mt-9 w-full h-12 rounded-md text-[#ffffff] text-[16px] font-semibold ">Log In</button>
                <button type="" class="bg-purple-200 mt-5 w-full h-12 rounded-md text-[#892989] text-[16px] font-semibold">Forgot your password?</button>
            </form>
            <p class="mt-5 text-base text-[#2a2a2a] text-[16px] text-center cursor-pointer font-medium">Don't have an account yet? <a href="#" class="text-purple-600">Sign up here</a></p>
        </div>
    </div>
</div>
