<!-- Header -->
<header>
    <nav class="bg-gradient-to-r from-[#b3c9dd] to-[#835089] h-[105px] border-b-[5px] border-[#834f89] flex items-center pl-5">
        <!-- Logo -->
        <a href="#" class="flex items-center">
            <img src="../../../../assets/images/logoDesign.png" alt="Suinfi Logo" class="h-[70px] w-[70px] cursor-pointer">
        </a>
    </nav>
</header>
<!-- End Header -->

<div class="min-w-screen min-h-[calc(100vh-110px)]  flex items-center justify-center px-5 py-5">
    <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
        <div class="md:flex w-full">
            <div class="hidden md:flex w-1/2 bg-purple-500 py-10 px-10 items-center">
                <img src="../../../../assets/images/ImagenesEcommerce/loginEcommerce.png" alt="Image login">
           </div>
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900 pb-3">Log In</h1>
                    <p>Enter your e‑mail, phone, or Suinfi username</p>
                </div>
                <div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs font-semibold px-1">Email</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                                <input type="email" class="w-full -ml-10 pl-3 pr-3 py-2 rounded-lg border-2 border-gray-200 focus:outline-purple-500">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Password</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                <input type="password" class="w-full -ml-10 pl-3 pr-3 py-2 rounded-lg border-2 border-gray-200  focus:outline-purple-500">
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <button class="block w-full max-w-xs mx-auto bg-purple-500 hover:bg-purple-700 focus:bg-purple-700 text-white rounded-lg px-3 py-3 font-semibold">Log in</button>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <button class="block w-full max-w-xs mx-auto bg-purple-200 hover:bg-purple-300 focus:bg-purple-700 text-[#892989] rounded-lg px-3 py-3 font-semibold">Forgot your password?</button>
                        </div>
                    </div>
                </div>
                <p class="mt-5 text-base text-[#2a2a2a] text-[16px] text-center font-medium">Don't have an account yet? <a routerLink="/register" class="text-purple-600 cursor-pointer">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>
