<section class="container-width-ecommerce py-24">
    <h1 class="text-2xl lg:text-3xl font-bold uppercase text-center">Galeria de Nuestros Productos</h1>
    <p class="text-gray-500 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <div class="mt-16 grid grid-cols-1 lg:grid-cols-2 gap-5">
        <div class="h-[200px] lg:h-[500px] lg:col-span-2 w-full bg-gray-800 rounded-xl lg:rounded-none">
            <img src="../../../../assets/images/ImagenesEcommerce/Banner Productos Digitales.png " alt="" class="w-full h-full aspect-video">
        </div>
        
    </div>
    <div class="mt-5 grid grid-cols-1 lg:grid-cols-2 gap-5">
        <div class=" w-full h-[500px] rounded-xl lg:rounded-lg shadow-sm border border-gray-200">
            <img src="../../../../assets/images/ImagenesEcommerce/AUTOCAD-2023.png " alt="" class="w-full h-full" >
        </div>
        <div class="w-full h-[500px]  rounded-xl lg:rounded-lg shadow-sm border border-gray-200">

            <img src="../../../../assets/images/ImagenesEcommerce/Adobe Photoshop 2024.png " alt="" class="w-full h-full" >

        </div>
        
    </div>
</section>
