<section class="container-width-ecommerce py-24">
    <h1 class="text-2xl lg:text-3xl font-bold text-purple-500 text-center">Suinfi</h1>
    <p class="text-gray-300 text-center">Software en prouctos digitales</p>
    <div class="bg-transparent">
        <div class="h-[200px] lg:h-[500px] lg:col-span-2 w-full bg-transparent rounded-xl lg:rounded-none">
            <img src="../../../../assets/images/ImagenesEcommerce/onlineShopping.png " alt="" class="mx-auto my-auto">
        </div>
        
    </div>
    
</section>

  