
<app-navbar></app-navbar>

 <div class="w-full mx-auto relative">
  <img src="../../../assets/images/banner-left.webp" alt="" class="absolute left-0 -top-10  ml-0 h-full -z-10">
    <div class="flex flex-col lg:flex-row mx-20 items-center justify-evenly py-36">
        <div class="lg:flex-1">
            <div class="header-text ml-40 text-[#2a2a2a]">
                <h6 class="text-[#5b03e4] font-bold mb-1 text-xl">SOFTWARE FACTORY</h6>
                <hr class="border-t-2 border-[#decdfa] mt-7 mb-3 w-40">
                <h4 class="text-[55px] font-[700] whitespace-nowrap">Most Frequently Asked</h4>
                <h4 class="text-[55px] font-[700] whitespace-balance lg:whitespace-normal -mt-3"><label class="text-[#5b03e4]">Questions</label> Here <label class="text-[#5b03e4]">?</label></h4>
            </div>
        </div>
        <div class="lg:flex-1 mt-5 lg:mt-0 lg:ml-5">
            <img class="object-cover ml-32" src="../../../assets/images/faqs-image.webp" alt="">
        </div>
    </div>
</div>

 <!-- happy-steps -->

 <div class="w-full">
    <div class="w-full bg-center bg-cover bg-no-repeat h-[350px]" style="background-image: url(../../../assets/images/video-bg.webp);">
      <h2 class="text-3xl font-bold mb-2 text-center text-[#ffffff] pt-10">Our 4 Steps To Success & Happy Clients</h2>
    <div class="flex justify-center">
      <div class="h-[180px] w-[70%] flex justify-center items-center bg-gradient-to-r from-[#8037eb] to-[#c85efc] mt-10 py-4 rounded-3xl text-[#ffffff]">
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-01.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Project Introduction</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-02.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Work Development</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-03.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Data Analysis</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-04.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Project Finishing</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>


<!-- frequently questions -->

<div class="section-heading mt-24 ml-[15%]">
    <h2 class="text-3xl font-bold text-[#2a2a2a] mb-4">
        Most <label class="text-[#5b03e4]">Frequently</label> Asked <span class="text-[#c03afe]">Questions</span> ?
    </h2>
    <div class="line-dec bg-gradient-to-r from-[#5601e3] to-[#c53cff] w-28 h-[2px] mt-4 mb-3 max-w-12"></div>
    <p class="text-[17px] text-[#787878]">
        Committed to serving our clients, at SUINFI, we want you to be informed about our way of working
    </p>
</div>

<!-- accordion frequently questions -->

<div class= "h-[20em] w-[100%] bg-none absolute left-0 ml-20">

  <div class="m-2 space-y-2 w-1/3">
    <div
      class="group flex flex-col gap-2 rounded-lg bg-white p-5 text-[#2a2a2a]"
      tabindex="1"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span class="group-focus:text-purple-500"> Do we offer personal attention? </span>
        <img
          src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png"
          class="h-4 w-5 transition-all duration-[500ms] group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
      Yes! We offer personal attention and follow-up on each project.
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-white p-5 text-[#2a2a2a]"
      tabindex="2"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span class="group-focus:text-purple-500"> Do we work with artificial intelligence? </span>
        <img
          src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png"
          class="h-4 w-5 transition-all duration-[500ms] group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
      At SUINFI, we merge innovation with cutting-edge technology. Our commitment to excellence is reflected in our constant integration of Artificial Intelligence at every stage of our work. From crafting personalized solutions to developing state-of-the-art products, Artificial Intelligence propels our vision towards an exciting digital future.
      </div>
    </div>

    <div
      class="group flex flex-col gap-2 rounded-lg bg-white p-5 text-[#2a2a2a]"
      tabindex="3"
    >
      <div class="flex cursor-pointer items-center justify-between">
        <span class="group-focus:text-purple-500"> Does it apply to any industry? </span>
        <img
          src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png"
          class="h-4 w-5 transition-all duration-[500ms] group-focus:-rotate-180"
        />
      </div>
      <div
        class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
      >
      Yes! Technology is necessary in any industry.
      </div>
    </div>

    <div
    class="group flex flex-col gap-2 rounded-lg bg-white p-5 text-[#2a2a2a]"
    tabindex="1"
  >
    <div class="flex cursor-pointer items-center justify-between">
      <span class="group-focus:text-purple-500"> Do we offer personal attention? </span>
      <img
        src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png"
        class="h-4 w-5 transition-all duration-[500ms] group-focus:-rotate-180"
      />
    </div>
    <div
      class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
    >
    Yes! We offer personal attention and follow-up on each project.
    </div>
  </div>
  </div>

</div>



<!-- form contact -->

<div class="w-[650px]  h-[705px]  p-0" >
  <div class=" p-3 lg:p-[1px] pl-[100px] w-full h-full overflow-hidden">
    <h1 class='text-3xl text-center font-bold pt-16'><span class='text-[#5b03e4]'>Contact Us</span> & Get In <span class='text-[#c03afe]'>Touch</span></h1>
    <form class='mt-10 overflow-hidden'>
      <div class="w-full grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4 justify-center items-center">
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder ='your Name...' name="name"/>
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your Surname...' name="surname"/>
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your E-mail...'name="email" />
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your Subject...' name="subject"/>
      </div>
      <div class="w-full mt-4">
        <textarea class='outline-none bg-[#f9ebff] w-full h-[100px] rounded-3xl p-3 placeholder-black ' name="message" id="" cols="30" rows="10" placeholder="your Message"></textarea>

        <button type="submit" class='bg-[#5b03e4] border-none text-white rounded-3xl w-full h-11 max-h-[150px]' >Send Message Now</button>
      </div>
      
    </form>
    <div class="w-full overflow-hidden h-[285px] rounded-3xl pt-10">
      <div class="w-full bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-full container mx-autooverflow-hidden">
        <div class=" flex flex-col items-center justify-center gap-3 text-white lg:flex-row w-full h-full mx-auto mt-6">
          <div class="flex flex-col items-center w-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg>
            <span class="text-white">+54 9 2644585555</span>
          </div>
          <div class="flex flex-col items-center w-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 16 15"><path fill="currentColor" d="M.5 2.5A1.5 1.5 0 0 1 2 1h12a1.5 1.5 0 0 1 1.5 1.5v1.208L8 7.926L.5 3.708z"/><path fill="currentColor" d="M.5 4.855V12.5A1.5 1.5 0 0 0 2 14h12a1.5 1.5 0 0 0 1.5-1.5V4.855L8 9.074z"/></svg>
            <span class="text-white">info&commat;suinfi.com</span>
          </div>
          <div class="flex flex-col items-center w-full pt-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2m0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4"/><circle cx="16" cy="13" r="4" fill="none"/></svg>
            <span class="text-white text-center">Rivadavia 524 Este, Capital San Juan, Argentina</span>
          </div>
       </div>
    </div>
  </div>

</div>

</div>

  
<br><br><br><br><br>


<app-footer-contact></app-footer-contact>