
<app-navbar></app-navbar>

 <div class="w-full mx-auto relative">
  <img src="../../../assets/images/banner-left.webp" alt="" class="absolute left-0 -top-10  ml-0 h-full -z-10">
    <div class="flex flex-col lg:flex-row mx-20 items-center justify-evenly pb-36 pt-56">
        <div class="lg:flex-1">
            <div class="header-text ml-40 text-[#2a2a2a]">
                <h6 class="text-[#5b03e4] font-bold mb-1 text-xl">SOFTWARE FACTORY</h6>
                <hr class="border-t-2 border-[#decdfa] mt-7 mb-3 w-40">
                <h4 class="text-[55px] font-[700] whitespace-nowrap">Most Frequently Asked</h4>
                <h4 class="text-[55px] font-[700] whitespace-balance lg:whitespace-normal -mt-3"><label class="text-[#5b03e4]">Questions</label> Here <label class="text-[#5b03e4]">?</label></h4>
            </div>
        </div>
        <div class="lg:flex-1 mt-5 lg:mt-0 lg:ml-5">
            <img class="object-cover ml-32" src="../../../assets/images/faqs-image.webp" alt="">
        </div>
    </div>
</div>

 <!-- Our 4 steps -->

 <div class="w-full">
    <div class="w-full bg-center bg-cover bg-no-repeat h-[350px]" style="background-image: url(../../../assets/images/video-bg.webp);">
      <h2 class="text-3xl font-bold mb-2 text-center text-[#ffffff] pt-10">Our 4 Steps To Success & Happy Clients</h2>
    <div class="flex justify-center">
      <div class="h-[180px] w-[70%] flex justify-center items-center bg-gradient-to-r from-[#8037eb] to-[#c85efc] mt-10 py-4 rounded-3xl text-[#ffffff]">
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-01.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Project Introduction</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-02.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Work Development</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-03.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Data Analysis</h4>
        </div>
        <div class="border-l border-r border-[#b56cf4] h-28"></div>
        <div class="flex flex-col items-center justify-around mx-16 w-1/4">
            <img src="../../../assets/images/services-04.webp" alt="" class="max-w-full rounded-full mt-2 mb-3 mx-auto w-20 h-20">
            <h4 class="font-bold text-xl">Project Finishing</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>


<!-- frequently questions -->
<div class="mt-0 ">
<div class="section-heading mt-36 ml-[15%] mb-[85px]">
    <h2 class="text-3xl font-bold text-[#2a2a2a] mb-4">
        Most <label class="text-[#5b03e4]">Frequently</label> Asked <span class="text-[#c03afe]">Questions</span> ?
    </h2>
    <div class="line-dec bg-gradient-to-r from-[#5601e3] to-[#c53cff]  h-[2px] mt-4 mb-3 w-16"></div>
    <p class="text-[17px] text-[#787878]">
        Committed to serving our clients, at SUINFI, we want you to be informed about our way of working
    </p>
</div>

<!-- accordion frequently questions -->
<div class="flex justify-center h-[34em]">

  <div class="h-[20em] w-[38em] bg-none mr-[150px] ml-[20px]">

    <div class="m-2 space-y-2 w-full">
      <div class="group flex flex-col gap-2 rounded-lg bg-none p-5 text-[#2a2a2a] w-full" tabindex="1">
        <div class="flex cursor-pointer items-center justify-between">
          <span class="font-bold text-[1.4em] text-[#2f2f2f] group-focus:text-[#5b03e4]"> Do we offer personal attention? </span>
          <img src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png" class="h-5 w-6 transition-all duration-[500ms] group-focus:-rotate-180" />
        </div>
        <div class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-700">
          Yes! We offer personal attention and follow-up on each project.
        </div>
      </div>
  
      <div class="group flex flex-col gap-2 rounded-lg bg-none p-5 text-[#2a2a2a] w-full" tabindex="2">
        <div class="flex cursor-pointer items-center justify-between">
          <span class="font-bold text-[1.4em] text-[#2f2f2f group-focus:text-[#5b03e4]"> Do we work with artificial intelligence? </span>
          <img src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png" class="h-5 w-6 transition-all duration-[800ms] group-focus:-rotate-180" />
        </div>
        <div class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-700">
          At SUINFI, we merge innovation with cutting-edge technology. Our commitment to excellence is reflected in our constant integration of Artificial Intelligence at every stage of our work. From crafting personalized solutions to developing state-of-the-art products, Artificial Intelligence propels our vision towards an exciting digital future.
        </div>
      </div>
  
      <div class="group flex flex-col gap-2 rounded-lg bg-none p-5 text-[#2a2a2a] w-full" tabindex="3">
        <div class="flex cursor-pointer items-center justify-between">
          <span class="font-bold text-[1.4em] text-[#2f2f2f] group-focus:text-[#5b03e4]"> Does it apply to any industry? </span>
          <img src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png" class="h-5 w-6 transition-all duration-[500ms] group-focus:-rotate-180" />
        </div>
        <div class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-700">
          Yes! Technology is necessary in any industry.
        </div>
      </div>

      <div class="group flex flex-col gap-2 rounded-lg bg-none p-5 text-[#2a2a2a] w-full" tabindex="3">
        <div class="flex cursor-pointer items-center justify-between">
          <span class="font-bold text-[1.4em] text-[#2f2f2f] group-focus:text-[#5b03e4]"> Do we work with blockchain? </span>
          <img src="https://www.pngmart.com/files/3/Down-Arrow-PNG-Image.png" class="h-5 w-6 transition-all duration-[500ms] group-focus:-rotate-180" />
        </div>
        <div class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-700 text-[#3c3c3c]">
          At SUINFI, we are committed to innovation and efficiency across all sectors. From supply chain optimization to decentralized financial solutions, our focus on blockchain drives progress and security in the business world
        </div>
      </div>
  
      <!-- Repite la misma estructura para los demás elementos del acordeón -->
  
    </div>
  
  </div>
  


<!-- form contact -->

<div class="w-[650px]  h-[705px]  p-0">
  <div class=" p-3 lg:p-[1px] pl-[100px] w-full h-full overflow-hidden">
    <h1 class='text-3xl text-center font-bold'><span class='text-[#5b03e4]'>Contact Us</span> & Get In <span class='text-[#c03afe]'>Touch</span></h1>
    <form class='mt-10 overflow-hidden'>
      <div class="w-full grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4 justify-center items-center">
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder ='your Name...' name="name"/>
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your Surname...' name="surname"/>
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your E-mail...'name="email" />
        <input class='outline-none bg-[#f9ebff] rounded-3xl p-3 placeholder-black' type="text" placeholder='your Subject...' name="subject"/>
      </div>
      <div class="w-full mt-4">
        <textarea class='outline-none bg-[#f9ebff] w-full h-[100px] rounded-3xl p-3 placeholder-black ' name="message" id="" cols="30" rows="10" placeholder="your Message"></textarea>

        <button type="submit" class='bg-[#5b03e4] border-none text-white rounded-3xl w-full h-11 max-h-[150px] mt-[15px]' >Send Message Now</button>
      </div>
      
    </form>

</div>


</div>
</div>
</div>

<app-footer-contact></app-footer-contact>