<div class="w-[40%] h-[40%] m-auto">
  <img src="../../../../assets/images/oops.jpg" alt="Img" />
  <p class="font-bold text-3xl text-center">Developing...</p>
</div>
<!-- <app-navbar-comp></app-navbar-comp>


<app-carousel-comp></app-carousel-comp>


<section
  class="container-width-ecommerce py-5 lg:py-10 flex gap-10 lg:gap-0 items-center lg:items-start justify-center"
>
  <div class="flex gap-12 relative z-10 mt-[-200px]">
    <div
      class="shadow-md bg-white w-[200px] lg:w-[300px] xl:w-[367px] h-[417px] lg:h-[300px] rounded-xl flex flex-col justify-end pl-2 pb-2 cursor-pointer transition-transform transform hover:scale-110 z-[9999]"
    >
    
      <img
        src="../../../../assets/images/ImagenesEcommerce/ad2.webp"
        alt="Descripción de la imagen"
        class="mx-auto my-auto w-48 h-48 rounded-t-xl "
      />
      <div class="">
        <div class="">
          <h1 class="text-black pb-1">Titulo de la categoria/producto</h1>
        </div>

        <div class="">
          <h2 class="text-black font-bold pb-1">$ 0000</h2>
        </div>

        <div class="">
          <p class="text-black pb-1">x6 cuotas</p>
        </div>
      </div>
    </div>

    <div
      class="shadow-md bg-white w-[200px] lg:w-[300px] xl:w-[367px] h-[417px] lg:h-[300px] rounded-xl flex flex-col justify-end pl-2 pb-2 cursor-pointer transition-transform transform hover:scale-110 z-[9999]"
    >
      <div class="">
        <h1 class="text-black pb-1">Titulo de la categoria/producto</h1>
      </div>

      <div class="">
        <h2 class="text-black font-bold pb-1">$ 0000</h2>
      </div>

      <div class="">
        <p class="text-black pb-1">x6 cuotas</p>
      </div>
    </div>

    <div
      class="shadow-md bg-white w-[200px] lg:w-[300px] xl:w-[367px] h-[417px] lg:h-[300px] rounded-xl flex flex-col justify-end pl-2 pb-2 cursor-pointer transition-transform transform hover:scale-110 z-[9999]"
    >
      <div class="">
        <h1 class="text-black pb-1">Titulo de la categoria/producto</h1>
      </div>

      <div class="">
        <h2 class="text-black font-bold pb-1">$ 0000</h2>
      </div>

      <div class="">
        <p class="text-black pb-1">x6 cuotas</p>
      </div>
    </div>

    <div
      class="shadow-md bg-white w-[200px] lg:w-[300px] xl:w-[367px] h-[417px] lg:h-[300px] rounded-xl flex flex-col justify-end pl-2 pb-2 cursor-pointer transition-transform transform hover:scale-110 z-[9999]"
    >
      <div class="">
        <h1 class="text-black pb-1">Titulo de la categoria/producto</h1>
      </div>

      <div class="">
        <h2 class="text-black font-bold pb-1">$ 0000</h2>
      </div>

      <div class="">
        <p class="text-black pb-1">x6 cuotas</p>
      </div>
    </div>
  </div> -->

 
<!-- 
</section> -->



<!-- 
<app-products/>
<app-galeria/>
<app-footer-comp></app-footer-comp> -->
