<!--<div class="w-[40%] h-[40%] m-auto">
  <img src="../../../../assets/images/oops.jpg" alt="Img" />
  <p class="font-bold text-3xl text-center">Developing...</p>
</div>-->
<app-navbar-comp></app-navbar-comp>

<app-carousel-comp></app-carousel-comp>
<div class="bg-ecommerce relative">

  <div class="flex w-full h-[200px] gap-10 justify-between container-width-ecommerce">
    <div class="flex gap-4">
      <div class="flex items-center">
        <img class="w-[50px]" src="../../../../assets/images/ImagenesEcommerce/Audit.png" alt="audit-icon">
      </div>
      <div class="flex justify-center flex-col leading-none">
        <h1 class="text-white font-bold text-xl">PERMANENT LICENSES</h1>
        <p class="text-white text-lg">on all our products</p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex items-center">
        <img class="w-[50px]" src="../../../../assets/images/ImagenesEcommerce/Online Support.png" alt="audit-icon">
      </div>
      <div class="flex justify-center flex-col leading-none">
        <h1 class="text-white font-bold text-xl">PERSONALIZED ATTENTION</h1>
        <p class="text-white text-lg">on our social medias</p>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex items-center">
        <img class="w-[50px]" src="../../../../assets/images/ImagenesEcommerce/Money Bag.png" alt="audit-icon">
      </div>
      <div class="flex justify-center flex-col leading-none">
        <h1 class="text-white font-bold text-xl">EXCLUSIVE OFFERS</h1>
        <p class="text-white text-lg">every day</p>
      </div>
    </div>
  </div>
  <app-product-featured/>
  <app-products/>
  <app-galeria/>
  <app-footer-comp></app-footer-comp>
</div>
