<section class="w-full h-[100vh] bg-gradient-to-r from-[#56245F] to-[#000000] flex justify-center items-center">
    <div class="bg-white w-[800px] rounded-3xl flex">
        <div class="relative">
            <img src="../../../../assets/images/ImagenesEcommerce/login.png" alt="login-img">
            <div class="menu absolute top-[35%] right-0 flex flex-col gap-4">
                <a routerLink="/auth/login" routerLinkActive="active" class="a-button">LOGIN</a>
                <!-- <a routerLink="/auth/register" class="a-button text-white rounded-l-full py-4 px-6 font-bold text-center">SIGN IN</a> -->
                <a routerLink="/auth/register" routerLinkActive="active" class="b-button">SIGN IN</a>
            </div>
        </div>
        <div class="flex justify-center items-center w-[54%]">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>