.menu > a {
    transition: color .5s;
}

.a-button {
    color: white;
    border-radius: 9999px 0 0 9999px;
    /* background: red; */
    padding: 14px 24px ;
    font-weight: bold;
    text-align: center;
}

.b-button {
    color: white;
    border-radius: 9999px 0 0 9999px;
    /* background: red; */
    padding: 14px 24px ;
    font-weight: bold;
    text-align: center;
}

.active {
    background: white;
    color: #000;
}

.menu > .a-button::after, .menu > .a-button::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 20px;
    height: 50px;
    border-radius: 0 0 25px 0;
}

.menu > .a-button::before {
    top: auto;
    bottom: 18px;
    border-radius: 0 25px 0 0;
}


.menu > .b-button::after, .menu > .b-button::before {
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    width: 20px;
    height: 50px;
    border-radius: 0 0 25px 0;
}

.menu > .b-button::before {
    top: auto;
    bottom: -50px;
    border-radius: 0 25px 0 0;
}

.menu > .active::after {
    box-shadow: 0 25px 0 0 white;
}

.menu > .active::before {
    box-shadow: 0 -25px 0 0 white;
}
