<app-navbar-comp></app-navbar-comp>
<div class="container-width-ecommerce lg:pt-5 lg:pb-10">
  <h1 class="text-lg font-semibold" *ngIf="articlesList().length > 1">
    Busquedas relacionadas:
  </h1>
</div>
<div class="container-width-ecommerce">
  <div class="lg:w-full lg:flex lg:flex-row">
    <aside class="lg:w-[30%] lg:h-full">
      <h1 *ngIf="articlesList().length > 1">Busqueda:</h1>
      <div class="lg:pt-10" *ngIf="articlesList().length > 1">
        <h1>Filtrado</h1>
      </div>
    </aside>
    <!-- Card de productos a iterar -->
    <div class="w-full h-full ">
      <app-loader></app-loader>
      @for (article of articlesList(); track $index) {
      <div class="bg-white lg:h-[300px] lg:w-full rounded-lg shadow-lg border border-red-100 lg:mt-5">
        <div class="lg:w-full lg:flex lg:flex-row lg:py-5 lg:h-full">
          <div class="lg:w-[25%] lg:px-5 lg:h-full">
            @for (articleImg of article.imagen; track $index) { @if(article.id
            === articleImg.id){

            <img
              src="{{ articleImg.imagenNew }}"
              alt="img article"
              class="bg-violet-400"
            />

            } }
          </div>

          <div class="lg:h-full lg:w-full lg:flex lg:flex-col">
            <div class="lg:h-[50%]">
              <td class="text-2xl font-medium">{{ article.nombre }}</td>
            </div>
            <div class="lg:h-[50%]">
              <p class="text-2xl font-semibold">{{ article.precio }}</p>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <div
    *ngIf="articlesList().length === 0"
    class="container-width-ecommerce lg:w-full text-center bg-white shadow-lg rounded-lg lg:flex lg:justify-between"
  >
    <div class="lg:w-[100%] flex flex-row py-10 px-5">
      <div class="w-[30%]">
        <img
          src="../../../../assets/images/noResultsEcommerce.jpg"
          alt="No Results img"
          class="w-[300px] h-[300px]"
        />
      </div>
      <div class="">
        <h1 class="lg:font-bold lg:text-2xl">
          No hay publicaciones que coincidan con tu busqueda
        </h1>
        <p class="text-lg font-semibold">
          * Revisá la ortografía de la palabra
        </p>
        <p class="text-lg font-semibold">
          * Utilizá palabras más genéricas o menos palabras.
        </p>
      </div>

      <p></p>
    </div>
  </div>
</div>
