<div [class.hidden]="isScrolled"  class="hidden  lg:flex justify-between items-center bg-white px-[77px] py-3">
  <!-- pre-header -->
  <div class=" gap-4 font-normal text-sm hidden lg:flex">
    <div class="flex items-center flex-col lg:flex-row">
      <img src="../../../assets/icons/telef.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">+54 9 2644585555</p>
    </div>
    <div class="flex items-center">
      <img src="../../../assets/icons/msj.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">info&#64;suinfi.com</p>
    </div>
    <div class="flex items-center">
      <img src="../../../assets/icons/ubic.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">Rivadavia 524 Este Capital San Juan ARG</p>
    </div>
  </div>

  <div class="flex gap-2 mr-7 text-sm">
    <a href="https://www.facebook.com/people/Suinfi/61553712893461/">
      <img src="../../../assets/icons/facebook.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://twitter.com/suinfi_info">
      <img src="../../../assets/icons/twiiter.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://www.linkedin.com/company/suinfi/?viewAsMember=true">
      <img src="../../../assets/icons/linkedin.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://www.instagram.com/suinfi/">
      <img src="../../../assets/icons/instagram.svg" alt="" class="w-5 h-5" />
    </a>
  </div>
</div>

<header class="w-full bg-[linear-gradient(90deg,_rgba(85,0,227,1)_0%,_rgba(198,61,255,1)_100%)]  flex justify-between items-center px-10 py lg:px-40 lg:py-4">
  <img class="object-cover w-20" src="assets/images/logo.png" alt="logo Suinfi" />

  <ul class='hidden lg:flex text-white  gap-10'>

      <li><a href="#responsive-header">HOME</a></li>
      <li><a href="/home/#services">SERVICES</a></li>
      <li><a href="#responsive-header">PROJECTS</a></li>
      <li><a href="#responsive-header">PAGES</a></li>
      <li><a href="#responsive-header">INFOS</a></li>
      <li><a href="#responsive-header">CONTACT</a></li>
      
  </ul>

  <svg class='block lg:hidden' xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffffff" d="M4 18q-.425 0-.712-.288T3 17q0-.425.288-.712T4 16h16q.425 0 .713.288T21 17q0 .425-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12q0-.425.288-.712T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7q0-.425.288-.712T4 6h16q.425 0 .713.288T21 7q0 .425-.288.713T20 8z" /></svg>
</header>






<!-- header-navbar -->
<!-- <nav [class.scrolled]="isScrolled" 
  class="fixed flex items-center justify-between w-full p-8 bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-[110px] z-50  "
>
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img
      class="max-w-200 ml-8"
      src="assets/images/logo.png"
      alt=""
      style="max-width: 85px"
    />
  </div>
  <div class="block lg:hidden">
    <button
      id="boton"
      class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white"
    >
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div
    id="menu"
    class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
  >
    <div
      class="hidden   lg:flex-grow h-110 line-height-110 border-transparent tracking-wider pb-5 justify-end text-base uppercase"
    >
      <a
        href="#responsive-header"
        class="font-normal block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 h-110 line-height-110 border-transparent tracking-wider transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Home
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Service
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Projects
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Pages
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Infos
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-20 transition-opacity duration-700 ease-in-out hover:opacity-80"
      >
        Contact
      </a>
    </div>
  </div>
</nav> -->
