<div id="home"
  class="hidden lg:flex justify-between items-center bg-white px-[77px] py-3 "
>
  <!-- pre-header -->
  <div class="gap-4 font-normal text-sm hidden lg:flex">
    <div class="flex items-center flex-col lg:flex-row">
      <img src="../../../assets/icons/telef.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">+54 9 2644585555</p>
    </div>
    <div class="flex items-center">
      <img src="../../../assets/icons/msj.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">info&#64;suinfi.com</p>
    </div>
    <div class="flex items-center">
      <img src="../../../assets/icons/ubic.svg" class="w-5 h-5 mr-4" alt="" />
      <p class="text-[#a586bc]">Rivadavia 524 Este Capital San Juan ARG</p>
    </div>
  </div>

  <div class="flex gap-2 mr-7 text-sm">
    <a href="https://www.facebook.com/people/Suinfi/61553712893461/">
      <img src="../../../assets/icons/facebook.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://twitter.com/suinfi_info">
      <img src="../../../assets/icons/twiiter.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://www.linkedin.com/company/suinfi/?viewAsMember=true">
      <img src="../../../assets/icons/linkedin.svg" alt="" class="w-5 h-5" />
    </a>

    <a href="https://www.instagram.com/suinfi/">
      <img src="../../../assets/icons/instagram.svg" alt="" class="w-5 h-5" />
    </a>
  </div>
</div>

<header
  [class.scrolled]="isScrolled"
  class="w-full bg-[linear-gradient(90deg,_rgba(85,0,227,1)_0%,_rgba(198,61,255,1)_100%)] flex justify-between items-center px-10 py lg:px-40 lg:py-4"
>
  <img
    class="object-cover w-20"
    src="assets/images/logo.png"
    alt="logo Suinfi"
    href="/home"
  />

  <ul #mainMenu class="lg:flex lg:w-auto text-white gap-4 hidden dropdown-content w-full "
  [ngClass]="{'hidden': !isMenuOpen}"  >
    <li  class="flex items-center justify-center py-4">
      <a 
        href="#home" (click)="closeMenu()"
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80 block w-full text-center"
        >HOME</a
      >
    </li>
    <li
    class="flex items-center justify-center py-4 ">
      <a
        href="#services"
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80"
        >SERVICES</a
      >
    </li>
    <li
    class="flex items-center justify-center py-4 ">
      <a
        href="#projects"
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80"
        >PROJECTS</a
      >
    </li>
    <li
    class="flex items-center justify-center py-4 ">
      <a
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80"
        >PAGES</a
      >
      
    </li>
    <li
    class="flex items-center justify-center py-4 ">
      <a
       href="#info"
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80"
        >INFOS</a
      >
    </li>
    <li
    class="flex items-center justify-center py-4 ">
      <a
        href="#contact"
        class="hover:text-white transition-opacity duration-700 ease-in-out hover:opacity-80"
        >CONTACT</a
      >
    </li>
  </ul>


  <button
    (click)="toggleMenu()"
    class="block lg:hidden group cursor-pointer outline-none hover:rotate-90 duration-300"
  >
  <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 6C8 7.10457 7.10457 8 6 8C4.89543 8 4 7.10457 4 6C4 4.89543 4.89543 4 6 4C7.10457 4 8 4.89543 8 6Z" fill="white" />
    <path d="M8 12C8 13.1046 7.10457 14 6 14C4.89543 14 4 13.1046 4 12C4 10.8954 4.89543 10 6 10C7.10457 10 8 10.8954 8 12Z" fill="white" />
    <path d="M6 20C7.10457 20 8 19.1046 8 18C8 16.8954 7.10457 16 6 16C4.89543 16 4 16.8954 4 18C4 19.1046 4.89543 20 6 20Z" fill="white" />
    <path d="M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6Z" fill="white" />
    <path d="M12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14Z" fill="white" />
    <path d="M14 18C14 19.1046 13.1046 20 12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18Z" fill="white" />
    <path d="M18 8C19.1046 8 20 7.10457 20 6C20 4.89543 19.1046 4 18 4C16.8954 4 16 4.89543 16 6C16 7.10457 16.8954 8 18 8Z" fill="white" />
    <path d="M20 12C20 13.1046 19.1046 14 18 14C16.8954 14 16 13.1046 16 12C16 10.8954 16.8954 10 18 10C19.1046 10 20 10.8954 20 12Z" fill="white" />
    <path d="M18 20C19.1046 20 20 19.1046 20 18C20 16.8954 19.1046 16 18 16C16.8954 16 16 16.8954 16 18C16 19.1046 16.8954 20 18 20Z" fill="white" />
  </svg>
  
  </button>
</header>
