
<div class="w-full flex justify-between items-center bg-white p-5"> <!-- pre-header -->
    <div class="flex gap-3 ">
        <div class="flex items-center mr-4">
            <img src="../../../assets/icons/telef.svg" alt=""> 
            <p>+54 9 2644585555</p>
        </div>
        <div class="flex items-center mr-4 ">
            <img src="../../../assets/icons/msj.svg" alt="">
            <p>info&#64;suinfi.com</p>
        </div>
        <div class="flex items-center mr-4 ">
            <img src="../../../assets/icons/ubic.svg" alt="">
            <p>Rivadavia 524 Este Capital San Juan ARG</p>
        </div>
    </div> 

    <div class="flex gap-3">
        <a href="https://www.facebook.com/people/Suinfi/61553712893461/">
        <img src="../../../assets/icons/facebook.svg" alt="">
        </a>

        <a href="https://twitter.com/suinfi_info">
        <img src="../../../assets/icons/twiiter.svg" alt="">
        </a>

        <a href="https://www.linkedin.com/company/suinfi/?viewAsMember=true">
        <img src="../../../assets/icons/linkedin.svg" alt="">
        </a>

        <a href="https://www.instagram.com/suinfi/">
        <img src="../../../assets/icons/instagram.svg" alt="">
        </a>
    </div>
    
</div>
<!-- header -->
<div class="">
    
</div>