<!-- Main-page -->

<div class="overflow-hidden h-screen box text-white flex flex-col justify-between ">
  <div class="text-3xl font-semibold mb-8 text-center mt-20"> 
    <h1>SUINFI</h1>
  </div>

  <div class="flex gap-28 justify-center mt-24 sm:justify-center  ">
    <div class="flex flex-col sm:justify-center">
      <app-card-box routerLink="/home" class="mt-8" />
    </div>
    <div class="flex flex-col gap-2">
      <app-card-box routerLink="/ecommerce" class="mt-8" />
    </div>
  </div>

  <div class="bg-white ">
    <div class="flex justify-center gap-44 mb-20">
      <a href="/home" class="text-black hover:text-green-500 text-lg mr-8">Software Factory</a>
      <a href="/ecommerce" class="text-black hover:text-green-500 text-lg mr-5">Ecommerce</a>
    </div>
  </div>
</div>
