<!-- Main-page -->

<div class="overflow-hidden h-full box text-white flex flex-col justify-between items-center lg:relative ">
  <div class="  items-center flex justify-center pt-32 lg:pt-20 flex-col gap-4 lg:gap-10"> 
    <img src="/assets/images/logo2.png" class="w-[60%] lg:w-[40%]">
    <h2 class="text-center text-lg ">All what you need</h2>
  </div>

  

  <div class="flex flex-col items-center justify-center gap-5 lg:gap-28 sm:justify-center lg:flex-row lg:pt-16 lg:z-[9999] lg:pb-10 ">
    <div class="flex flex-col gap-4 items-center lg:gap-14 lg:justify-center">
      <app-card-box routerLink="/home" class="mt-8 " [imageFront]="imageFront" [imageBack]="imageSoftwareFactory"/>
      <a href="/home" class="text-white  hover:text-green-500 text-lg font-semibold text-center lg:text-black">SOFTWARE FACTORY</a>
    </div>
    <div class="flex flex-col gap-4 lg:gap-14 lg:justify-center">
      <app-card-box routerLink="/ecommerce" class="mt-8" [imageFront]="imageFront" [imageBack]="imageEcommerce" />
      <a href="/ecommerce" class="text-white hover:text-green-500 text-lg font-semibold text-center lg:text-black">E-COMMERCE</a>
      
    </div>
  </div>
  <div class="bg-white h-[10vh] lg:w-full lg:h-[10vh] lg:absolute lg:bottom-0 ">
  
  </div>


</div>
