<div class="box">
    <div class="itemBox">
  
      <h1>SUINFI</h1>
      
  
    </div>
    
  
    <div class="cardBox">
      <div class="itemCard">
        <app-card-box routerLink="/home"></app-card-box>
        <a routerLink="/home">Software Factory</a>
      </div>
  
      <div class="itemCard">
        <app-card-box routerLink="/ecommerce"></app-card-box>
        <a routerLink="/Ecommerce">Ecommerce</a>
      </div>
    </div>
  
    
  
    <div class="divisor">
      
    </div>
  </div>
  
  
  
