<section class="container-width-ecommerce py-10 lg:py-24">
    <h1 class="text-2xl lg:text-3xl font-bold uppercase text-center">Lista de Productos</h1>
    <p class="text-gray-500 text-center">productos destacados</p>
    <div class="mt-16 grid diego place-items-center lg:items-start gap-16">
        @for (article of articlesList(); track $index) {

            <div class="w-[300px] h-[460px] rounded-md">
                @for (articleImg of article.imagen; track $index) { @if(article.id
                    === articleImg.id){

                        <img src="{{articleImg.imagenNew }}" alt="article img">

                    } }
                

                <td>{{article.nombre}}</td>
                <td>{{article.precio}}</td>
                <td>{{article.categoria.nombre}}</td>
            </div>

        }
        
        
    </div>
</section>
