<div class="bg-white  bg-opacity-90 w-fit mx-auto rounded-t-3xl py-2 px-7">

  <h1 class="text-2xl lg:text-lg font-semibold  text-center text-black">
    Lista de Productos
  </h1>
</div>

<section class="container-width-ecommerce py-10 lg:py-10 bg-white  bg-opacity-90 rounded-2xl ">
 

    <swiper-container class="swiper-1" slides-per-view="3" loop="true" space-between="0" navigation="true">
      @for (article of articlesList().slice(0,9); track $index) {
      <swiper-slide class="flex justify-center items-center">
        <div class="w-[300px] h-[460px] flex flex-col justify-center items-center gap-2">
          <div class="">
            @for (articleImg of article.imagen; track $index) { @if(article.id === articleImg.id){
              <div class="">
                <img src="{{ articleImg.imagenNew }}" alt="article img" class=" rounded-full"  />
              </div>
            } }
          </div>
          <div class="text-center">
            <p class="font-semibold text-sm lg:w-[100%] text-black">{{ article.nombre }}</p>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>
    <swiper-container class="swiper-2" slides-per-view="3" loop="true" space-between="0" navigation="true">
      @for (article of articlesList().slice(10,19); track $index) {
      <swiper-slide class="flex justify-center items-center">
        <div class="w-[300px] h-[460px] flex flex-col justify-center items-center gap-2">
          <div class="">
            @for (articleImg of article.imagen; track $index) { @if(article.id === articleImg.id){
              <div class="">
                <img src="{{ articleImg.imagenNew }}" alt="article img" class=" rounded-full"  />
              </div>
            } }
          </div>
          <div class="text-center">
            <p class="font-semibold text-sm lg:w-[100%] text-black">{{ article.nombre }}</p>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>
    <swiper-container class="swiper-3" slides-per-view="3" loop="true" space-between="0" navigation="true">
      @for (article of articlesList().slice(20,29); track $index) {
      <swiper-slide class="flex justify-center items-center">
        <div class="w-[300px] h-[460px] flex flex-col justify-center items-center gap-2">
          <div class="">
            @for (articleImg of article.imagen; track $index) { @if(article.id === articleImg.id){
              <div class="">
                <img src="{{ articleImg.imagenNew }}" alt="article img" class=" rounded-full"  />
              </div>
            } }
          </div>
          <div class="text-center">
            <p class="font-semibold text-sm lg:w-[100%] text-black">{{ article.nombre }}</p>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>

</section>
