<div class="cube-container ">
  <div class="photo-cube ">
    <img class="front shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] " [src]="imageFront" />
    <div class="left shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] ">
      <img [src]="imageBack" class="w-full h-full" />
      <div class="overlay flex items-center justify-center w-full">
        <button
          class="bg-green-500 px-5 py-2 text-gary-50 rounded-lg mb-3 font-bold text-xs lg:px-3 lg:text-base hover:bg-[#5B329D]"
        >
          Discover Now
        </button>
      </div>
    </div>
  </div>
</div>
