<div
  class="w-[300px] h-[420px] bg-transparent cursor-pointer group perspective"
>
  <div
    class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000"
  >
    <div class="absolute backface-hidden border-2 w-[80%] h-[80%]">
      <img src="/assets/images/logox.png" class="w-full h-full" />
    </div>
    <div class="absolute my-rotate-y-180 backface-hidden w-[80%] h-[80%]  bg-white">
        <div class="">
            <img class="object-cover w-full h-full " src="/assets/images/sui.png" >
            <div class="w-full flex items-center justify-center mt-[90px]">
                
                <button class="border-none bg-green-500 px-10 py-2 text-white rounded-full ">Discover Now</button>
            </div>
        </div>

</div>
    
  </div>
</div>
