
<div class="w-full">
    <div class="w-full bg-center bg-cover bg-no-repeat h-auto xl:h-screen flex items-center justify-center" style="background-image: url(../../../assets/images/infos-bg.webp);">
        <div class="flex flex-col min-h-[100dvh] bg-white w-[90%] my-5 rounded-3xl overflow-hidden sm:w-[70%] lg:grid lg:grid-cols-2 lg:h-[80%] lg:w-[80%] lg:min-h-fit 2xl:w-[70%]">
            <img class="h-[40%] lg:h-full" src="/assets/images/left-infos.webp" alt="">
            <div class="px-8 py-10 text-sm md:text-sm lg:text-base lg:h-full lg:flex flex-col">
            <h1 class="text-3xl font-bold"> Explore <span class='text-[rgb(86,1,227)]'> Digital  </span>Infinity</h1>
            <div class=" mt-2 mb-2 md:mt-6 bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-0.5 w-[60px] xl:h-0.5"></div>
            <div class="flex flex-col gap-5 lg:gap-8">
            <h2 class="">
                To succeed in today's competitive market you need to stay abreast of new technologies. This allows you to achieve:
            </h2>
            <h3 class='text-black'>
                <span class="font-bold">Improved efficiency: </span><span > Tools are often designed to get work done faster, simplify processes, or automate repetitive tasks, improving efficiency in software production</span>
            </h3>
            <h3 class="">
                <span class="font-bold">Product quality:</span> <span> It can raise the quality of the developed software, improving the usability, security and stability of the final product</span>
            </h3>
            <h3 class="">
                <span class="font-bold">Competitiveness: </span> <span> Being up to date with the latest technological trends can give you a competitive advantage.</span>
            </h3>
            <h3 class="">
                <span  class="font-bold">Customer satisfaction:</span> <span> New technologies can enable the delivery of products that are more aligned with customer expectations.</span>
            </h3>
            <h3 class="">
                <span class="font-bold">Attracting talent:</span> <span> Being at the technological forefront can attract talented and motivated professionals.</span>
            </h3>
        </div>
        </div>
        </div>  
    </div>
</div> 
 