<div class="bg-white w-[95%] rounded-3xl" >
  <form [formGroup]="contactForm" class="rounded-3xl w-[100%] h-[850px] border border-violet-400 relative sm:h-[840px] md:h-[760px] xl:h-[680px]">
      <div class="p-4 text-center">
          <h1 class="text-3xl font-bold lg:py-10"><span class='text-[#5b03e4]'> {{ "form.contact" | translate }} </span> {{ "form.get" | translate }} <span class='text-[#c03afe]'> {{ "form.us" | translate }} </span></h1>
      </div> 
      <div class="w-[100%] flex flex-col justify-center mt-2 gap-4 items-center lg:grid lg:grid-cols-2 lg:item-center px-5">
      <input class='border-none outline-none font-bold bg-[#f9ebff] rounded-3xl p-3 placeholder-black w-[80%] lg:w-full' 
            type="text" 
            [placeholder]="'form.name' | translate" 
            formControlName="name"
      />
      <input class='border-none outline-none font-bold bg-[#f9ebff] rounded-3xl p-3 placeholder-black w-[80%] lg:w-full' 
             type="text" 
             [placeholder]="'form.surname' | translate" 
             formControlName="surName"
      />
      <input class='border-none outline-none font-bold bg-[#f9ebff] rounded-3xl p-3 placeholder-black w-[80%] lg:w-full' 
             type="text" 
             [placeholder]="'form.email' | translate" 
             formControlName="email"
      />
      <input class='border-none outline-none font-bold bg-[#f9ebff] rounded-3xl p-3 placeholder-black w-[80%] lg:w-full' 
             type="text" 
             [placeholder]="'form.subject' | translate" 
             formControlName="subject"
      />
      </div>
      <div class="flex flex-col items-center justify-center mt-4 gap-4">
          <textarea class='border-none outline-none font-bold bg-[#f9ebff] w-[74%] sm:w-[74%] md:w-[74%] h-[100px] rounded-3xl p-3 placeholder-black resize-none lg:w-[93%]' formControlName="message" id="" cols="30" rows="10" [placeholder]="'form.message' | translate" ></textarea>
          <button  (click)="send()" type="submit" class='bg-[#5b03e4] border-none text-white rounded-3xl w-[80%] h-11 max-h-[150px] lg:w-[93%]' >{{ "form.send" | translate }}</button>
      </div>
      <div *ngIf="showSuccessMessage" class="text-green-600 text-center font-medium">Form submitted successfully</div>
      <div *ngIf="showErrorMessage" class="text-red-600 text-center font-medium">Unable to submit the form</div>
      <div class="w-[100%] h-[35%] bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] rounded-b-3xl absolute bottom-0 flex flex-col justify-center  text-white gap-10 sm:h-[36%] md:h-[25%] md:flex-row lg:flex-row lg:h-[30%] lg:justify-center items-center xl:h-[30%] px-0 lg:px-5">
          <div class="flex flex-col items-center w-full lg:pb-14">
            <div class="lg:m-4">
            <svg class="h-[40px] sm:h-[40px] md:h-[50px] lg:h-[40px] flex justify-center items-center" xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M6.62 10.79c1.44 2.83 3.76 5.15 6.59 6.59l2.2-2.2c.28-.28.67-.36 1.02-.25c1.12.37 2.32.57 3.57.57a1 1 0 0 1 1 1V20a1 1 0 0 1-1 1A17 17 0 0 1 3 4a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/></svg>
          </div>
            <span class="text-white text-sm md:text-base pt-1">+54 9 264-4585555</span>
          </div>
          <div class="flex flex-col items-center w-full lg:pb-14">
          <div class=" lg:m-4">
            <svg class="h-[40px]  sm:h-[40px] md:h-[50px] lg:h-[40px]" xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 16 15"><path fill="currentColor" d="M.5 2.5A1.5 1.5 0 0 1 2 1h12a1.5 1.5 0 0 1 1.5 1.5v1.208L8 7.926L.5 3.708z"/><path fill="currentColor" d="M.5 4.855V12.5A1.5 1.5 0 0 0 2 14h12a1.5 1.5 0 0 0 1.5-1.5V4.855L8 9.074z"/></svg>
          </div>
            <span class="text-white text-sm md:text-base pt-1">info&commat;suinfi.com</span>
          </div>
          <div class="flex flex-col items-center w-full lg:pb-2">
            <div class=" lg:m-4">
            <svg  class="h-[40px] sm:h-[40px] md:h-[50px] lg:h-[40px] " xmlns="http://www.w3.org/2000/svg" width="100" height="40" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2A11.013 11.013 0 0 0 5 13a10.889 10.889 0 0 0 2.216 6.6s.3.395.349.452L16 30l8.439-9.953c.044-.053.345-.447.345-.447l.001-.003A10.885 10.885 0 0 0 27 13A11.013 11.013 0 0 0 16 2m0 15a4 4 0 1 1 4-4a4.005 4.005 0 0 1-4 4"/><circle cx="16" cy="13" r="4" fill="none"/></svg>
            </div>
            <span class="text-white text-center text-sm md:text-base pt-1">Rivadavia 524 Este, Capital San Juan, Argentina</span>
          </div>
      </div>
  </form>

</div> 
  