
<app-navbar></app-navbar>
<!-- About us page -->
<!-- Primera seccion -->
  <div class="custom-img mx-auto  pb-24 flex flex-col items-center overflow-hidden lg:justify-center pt-20 lg:pt-5 lg:flex-row lg:pb-20">
    <section class="flex items-center pl-5 lg:pl-0 lg:pr-[8%] lg:pt-[13%] ">
      <div class="flex-1">
        <h1 class="text-lg font-bold font-sans text-violet-700 mb-2 w-full lg:text-2xl ">
          SOFTWARE FACTORY
        </h1>
        <div class="bg-[#DECDFA] h-0.5 w-[30%] lg:my-10 lg:w-[43%]"></div>
        <h1 class=" text-5xl font-bold ">
          Discover More <em class="text-violet-700">About Us</em>
        </h1>
        
        <div class="pt-10 ">
          <h2 class="text-[#B6AFB6] text-sm w-[70%] lg:w-[100%]">
            Our main objective is to develop new technologies that can modernize
          </h2>
          <h2 class="text-[#B6AFB6] text-sm w-[70%] lg:w-[100%] ">
            the regional, national and international market in different areas.
          </h2>
  
          <div class="flex pt-10 gap-2 flex-wrap ">
            <a  class=" px-5 py-2 text-center bg-violet-700 text-white rounded-full text-sm lg:py-3"
              >Discover More</a
            >
            <p class="pt-5">or</p>
            <a
              
              class="px-5 py-2 rounded-full bg-pink-400 text-white text-sm h-[50%] lg:py-3"
              >Check Our FAQs</a
            >
          </div>
        </div>
      </div>
      
    </section>
    <div class="flex pt-10  ">
      <img
        src="/assets/images/about-us-image.webp"
        alt="Imagen about"
        class="w-[100%] h-[100%] lg:w-[100%] lg:h-[100%] lg:pt-[20%] lg:pl-[10%]"
      />
    </div>
  </div>


<!-- Segunda seccion (Video) -->
<section class="flex flex-wrap lg:mx-auto bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] mb-10 lg:items-center lg:overflow-hidden lg:flex lg:flex-nowrap lg:py-16 lg:w-full lg:h-[80vh] lg:justify-center">
  <div class=" w-[100%] h-[100%]  relative  sm:flex sm:items-center sm:justify-center lg:w-full lg:h-[100%]">
    <img
      src="/assets/images/video-thumb.jpg"
      alt="Imagen about"
      class="rounded-xl w-[100%] h-[100%] lg:w-[80%] lg:h-[100%] md:w-[60%] md:h-[60%] sm:w-[60%] sm:h-[60%]"
    />
  </div>

  <div class="w-full h-full ml-3 mr-3 lg:w-full lg:h-full  ">
    <h1 class="text-3xl font-bold text-white font-sans mb-4 ">
      Mission & Vision
    </h1>
    <div class="bg-[#DECDFA] h-0.5 w-[15%] mb-2 md:mb-6"></div>

    <div class="">
      <em class="text-lg font-semibold text-white font-sans">Mission</em>
      <p class="text-base text-white font-sans w-[90%] mt-2 mb-2 lg:mb-10 lg:leading-8 lg:w-[95%]">
        Our mission is to offer innovative and quality technological solutions
        that enhance the success of our clients in the digital world, providing
        personalized services and constant commitment.
      </p>
      <em class="text-lg font-semibold text-white font-sans ">Vision</em>
      <p class="text-base text-white font-sans w-[90%] mt-2 mb-2 lg:leading-8 lg:w-[95%]">
        Our vision is to inspire a world in which every organization, regardless
        of its size or industry, has the digital tools and strategies necessary
        to succeed in an environment in constant evolution. We seek to be the
        preferred partner of our clients, providing technological solutions that
        allow them to achieve their goals and stand out in the digital world.
      </p>
    </div>
  </div>
</section>

<app-footer-contact></app-footer-contact>

