<app-navbar></app-navbar>

<section class="flex items-center ml-16 mb-8">
  <div class="flex-1">
    <h1 class="text-2xl font-semibold text-violet-700">SOFTWARE FACTORY</h1>
    <h1 class="text-6xl font-semibold">
      Discover More <em class="text-violet-700">About Us</em>
    </h1>
    <div class="mt-8">
      <h2 class="text-[#B6AFB6] text-sm font-sans">
        Our main objective is to develop new technologies that can modernize
      </h2>
      <h2 class="text-[#B6AFB6] text-sm font-sans">
        the regional, national and international market in different areas.
      </h2>

      <div class="flex mt-4">
        <a href="" class="mr-5 px-4 py-2 bg-violet-700 text-white rounded-lg"
          >Discover now</a
        >
        <a
          href=""
          class="px-4 py-2 border border-violet-700 text-violet-700 rounded-lg hover:bg-slate-200"
          >Check our FAQs</a
        >
      </div>
    </div>
  </div>
  <div class="mr-12">
    <img
      src="/assets/images/about-us-image.jpg"
      alt="Imagen about"
      class="w-[80%] h-[80%] mt-10"
    />
  </div>
</section>

<section class="flex items-center video-container h-screen">
    <div class=" w-[100%] h-[100%]  ml-14">
      <img
        src="/assets/images/video-thumb.jpg"
        alt="Imagen about"
        class="w-[80%] h-[80%] rounded-lg"
      />
    </div>
  
    <div class="w-[100%] h-[100%] ">
      <h1 class="text-4xl font-semibold mb-24 text-white font-sans">Mission & Vision</h1>
      <em class="text-xl font-semibold mb-36 text-white font-sans">Mission</em>
      <p class="text-sm text-white font-sans">
        
         Our mission is to offer innovative and quality technological
        solutions that enhance the success of our clients in the digital world,
        providing personalized services and constant commitment. 
      </p>
      <em class="text-xl font-semibold  text-white">Vision</em>
      <p class="text-sm text-white"> Our vision
        is to inspire a world in which every organization, regardless of its size
        or industry, has the digital tools and strategies necessary to succeed in
        an environment in constant evolution. We seek to be the preferred partner
        of our clients, providing technological solutions that allow them to
        achieve their goals and stand out in the digital world.</p>
    </div>
  </section>
