<app-navbar></app-navbar>
<div class="custom-img mr-20 mb-36 flex">
  <section class="flex items-center ml-16 mt-16 mb-16">
    <div class="flex-1">
      <h1 class="text-2xl font-semibold text-violet-700 mb-10">
        SOFTWARE FACTORY
      </h1>
      <div class="bg-[#DECDFA] h-0.5 w-[35%] mb-4"></div>
      <h1 class="text-6xl font-semibold">
        Discover More <em class="text-violet-700">About Us</em>
      </h1>
      <div class="mt-8">
        <h2 class="text-[#B6AFB6] text-sm font-sans text-center">
          Our main objective is to develop new technologies that can modernize
        </h2>
        <h2 class="text-[#B6AFB6] text-sm font-sans text-center">
          the regional, national and international market in different areas.
        </h2>

        <div class="flex mt-4 justify-center">
          <a href="" class="mr-5 px-4 py-2 bg-violet-700 text-white rounded-lg"
            >Discover now</a
          >
          <a
            href=""
            class="px-4 py-2 border border-violet-700 text-violet-700 rounded-lg hover:bg-slate-200"
            >Check our FAQs</a
          >
        </div>
      </div>
    </div>
    <div class="ml-16">
      <img
        src="/assets/images/about-us-image.jpg"
        alt="Imagen about"
        class="w-[80%] h-[80%] mt-10"
      />
    </div>
  </section>
</div>

<section class="flex items-center video-container h-screen">
  <div class="w-[100%] h-[100%] ml-24">
    <img
      src="/assets/images/video-thumb.jpg"
      alt="Imagen about"
      class="w-[90%] h-[90%] rounded-lg"
    />
  </div>

  <div class="w-[100%] h-[100%]">
    <h1 class="text-4xl font-semibold text-white font-sans mb-12">
      Mission & Vision
    </h1>
    <div class="bg-[#DECDFA] h-0.5 w-[10%] mb-6"></div>

    <div class=" ">
      <em class="text-xl font-semibold text-white font-sans">Mission</em>
      <p class="text-base text-white font-sans w-[70%] mt-6 mb-4">
        Our mission is to offer innovative and quality technological solutions
        that enhance the success of our clients in the digital world, providing
        personalized services and constant commitment.
      </p>
      <em class="text-xl font-semibold text-white">Vision</em>
      <p class="text-base text-white w-[70%] mt-6">
        Our vision is to inspire a world in which every organization, regardless
        of its size or industry, has the digital tools and strategies necessary
        to succeed in an environment in constant evolution. We seek to be the
        preferred partner of our clients, providing technological solutions that
        allow them to achieve their goals and stand out in the digital world.
      </p>
    </div>
  </div>
</section>

<section class="contactus-container mt-32">
  <div class="flex justify-evenly py-16">
    <h1 class="text-white text-4xl w-[60%] font-semibold">
      Are You Ready To Work & Develop With Us ? Don't Hesitate & Contact Us !
    </h1>
    <div class="mt-8">
      <a
        class="px-4 py-3 border border-violet-700 text-violet-700 bg-white rounded-3xl hover:bg-violet-100 "
        >Contact us Now !</a
      >
    </div>
  </div>
</section>
