<section class="h-[60vh]">
    <div class="customers overflow-hidden whitespace-nowrap relative">
        <div class="customers-slide inline-block">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/A-SALVO.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/barrick.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/BellezaEstetica.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/Blancanieves.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/DiRoma.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/Encamialvoltaica.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/mercadolibre.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/MundoHelados.webp" alt="">
            <img class="w-[200px] object-cover inline-block" src="../../../../assets/images/ImagenesEcommerce/OCC.webp" alt="">
        </div>
    </div>
</section>