<!-- Error Alert -->
<div
  class="z-10 fixed top-24 right-4 w-[300px] flex justify-between text-red-100 shadow-inner rounded p-3 bg-red-600"
  *ngIf="showErrorAlert"
>
  <p class="self-center"><strong>Error </strong>{{ message }}</p>
  <strong class="text-xl align-center cursor-pointer alert-del"
    (click)="closeAlert()">
    &times;
  </strong>
</div>
<!-- End Error Alert -->

<!-- Succes Alert -->
<div
  class="z-10 fixed top-24 right-4 w-[300px] flex justify-between text-green-100 shadow-inner rounded p-3 bg-green-600"
  *ngIf="showSuccessAlert"
>
  <p class="self-center"><strong>Success </strong>{{ message }}</p>
  <strong class="text-xl align-center cursor-pointer alert-del"
    (click)="closeAlert()">
    &times;
  </strong>
</div>
<!-- End Succes Alert -->

<!-- Info Alert -->
<div
  class="z-10 fixed top-24 right-4 w-[300px] flex justify-between text-blue-100 shadow-inner rounded p-3 bg-blue-600"
  *ngIf="showInfoAlert"
>
  <p class="self-center"><strong>Info </strong>{{ message }}</p>
  <strong class="text-xl align-center cursor-pointer alert-del"
    (click)="closeAlert()">
    &times;
  </strong>
</div>
<!-- End Info Alert -->

<!-- Warning Alert -->
<div
  class="z-10 fixed top-24 right-4 w-[300px] flex justify-between text-yellow-100 shadow-inner rounded p-3 bg-yellow-600"
  *ngIf="showWarningAlert"
>
  <p class="self-center"><strong>Warning </strong>{{ message }}</p>
  <strong class="text-xl align-center cursor-pointer alert-del"
    (click)="closeAlert()">
    &times;
  </strong>
</div>
<!-- End Warning Alert -->


<router-outlet></router-outlet>