  <section class="w-full h-[620px] relative ">
    <swiper-container init="false">
        <swiper-slide class="h-[620px]">
          <img src="../../../../assets/images/ImagenesEcommerce/slider1.png" alt="banner-1" class="w-full h-full object-cover">
        </swiper-slide>
        <swiper-slide class="h-[620px]">
          <img src="../../../../assets/images/ImagenesEcommerce/slider2.png" alt="banner-2" class="w-full h-full object-cover">
        </swiper-slide>
        <swiper-slide class="h-[620px]">
          <img src="../../../../assets/images/ImagenesEcommerce/slider3.png" alt="banner-3" class="w-full h-full object-cover">
        </swiper-slide>
    </swiper-container>
    <button class="swiper-button-prev md:bg-gray-300 absolute left-2 md:left-5 bottom-72 p-3 rounded-full z-10">
      <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="rotate-180 w-10 md:w-6 md:invert">
    </button>
    <button class="swiper-button-next md:bg-gray-300 absolute right-2 md:right-5 bottom-72 p-3 rounded-full z-10">
      <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="w-10 md:w-6 md:invert"> 
    </button>
    <div class="absolute bottom-40 left-32 z-20">
      <img src="../../../../assets/images/ImagenesEcommerce/Group.png" alt="suinfi">
      <p class="text-sm text-white">Software in Digital Products</p>
    </div>
    <div class="absolute bottom-20 left-32 z-20">
      <button class="p-1 w-28 rounded-3xl bg-gray-300 font-semibold">More</button>
    </div>
</section>