<!-- <div class="h-[240px] lg:h-[400px] w-full overflow-hidden">
    <div class="h-full w-full flex ease-in-out" [style]="galleryContainerStyle">
      <div class="h-full min-w-full box-border gallery-item">
        <img src="../../../../assets/images/ImagenesEcommerce/ig1.jpg" alt="imagen muestra 1" class="w-full block">
      </div>
      <div class="h-full min-w-full box-border gallery-item">
        <img src="../../../../assets/images/ImagenesEcommerce/img5.jpg" alt="imagen muestra 2" class="w-full block">
      </div>
      <div class="h-full min-w-full box-border gallery-item">
        <img src="../../../../assets/images/ImagenesEcommerce/img3.jpg" alt="imagen muestra 3" class="w-full block">
      </div>
    </div>
    <nav class="flex justify-between items-center relative -top-[150px] lg:-top-[220px]">
      <button class="lg:bg-gray-800 p-4 cursor-pointer rounded-full hover:bg-gray-700 relative lg:left-5" (click)="Navigate(-1)">
        <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="w-6 rotate-180">
      </button>
      <button class="lg:bg-gray-800 p-4 cursor-pointer rounded-full hover:bg-gray-700 relative lg:right-5" (click)="Navigate(1)">
        <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="w-6">
      </button>
    </nav>
  </div> -->
  <section class="w-full h-[600px] relative">
    <swiper-container init="false">
        <swiper-slide class="h-[600px]">
          <img src="../../../../assets/images/ImagenesEcommerce/img2.jpg" alt="banner-1" class="w-full h-full object-cover">
        </swiper-slide>
        <swiper-slide class="h-[600px]">
          <img src="../../../../assets/images/ImagenesEcommerce/img3.jpg" alt="banner-2" class="w-full h-full object-cover">
        </swiper-slide>
    </swiper-container>
    <button class="swiper-button-prev md:bg-gray-300 absolute left-2 md:left-5 bottom-72 p-3 rounded-full z-10">
      <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="rotate-180 w-10 md:w-6 md:invert">
    </button>
    <button class="swiper-button-next md:bg-gray-300 absolute right-2 md:right-5 bottom-72 p-3 rounded-full z-10">
      <img src="../../../../assets/icons/arrowIcon.svg" alt="arrow-back" class="w-10 md:w-6 md:invert"> 
    </button>
    <div class="absolute top-8 right-[50%] translate-x-[50%] md:translate-x-[-50%] md:right-20 z-20 inline-block text-center">
      <h1 class="text-7xl text-white font-semibold">SUINFI</h1>
      <p class="text-2xl text-white font-semibold">Ecommerce</p>
    </div>
</section>