
 <div class="flex justify-center">
  <div class="my-6 mx-8 text-slate-700 tracking-[.01em] text-[13px] font-[385] text-center no-underline">
    <p>+971 54 231 6393
      <a href="#">{{ "footer.suinfi" | translate }}</a>
      Jumeirah Lake Towers,Arch Tower G - Dubái - United Arab Emirates
    </p>  
  </div>
  <div class="my-6 mx-2 text-slate-700 tracking-[.01em] text-[13px] font-[385] text-center no-underline">
    <p>{{ "footer.copyright" | translate }}
      <a href="#">{{ "footer.suinfi" | translate }}</a>
      {{ "footer.rights" | translate }}
    </p>  
  </div>
  <div class="my-6 mx-8 text-slate-700 tracking-[.01em] text-[13px] font-[385] text-center no-underline">
    <p>+54 9 2644585555
      <a href="#"></a>
      Rivadavia 524 Este Capital San Juan ARG
    </p> 
  </div>
</div>

  


  
  
  