<div
    class=" md:w-[100%] h-[100%] bg-[url('assets/images/services-left.webp')] bg-no-repeat "
  >
    <section class="flex items-center flex-col ">
      <div class="ml-5 md:ml-[700px]  ">
        <h1 class="text-4xl w-[90%] font-bold font-sans">
          We Provide <em class="text-[#5B03E4]">Different Services</em> &
          <em class="text-[rgb(192,125,254)]">Features</em> For Your Company
        </h1>
        <div class="bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-0.5 w-[20%] mt-10"></div>
        <p class="mt-8 font-bold md:opacity-35  w-[90%]">
          SUINFI is a company dedicated to the development of web pages,
          applications, digital marketing, technical support, sale of digital
          products, but mainly to the sale of software services in general.
        </p>
      </div>

      <div class="flex flex-wrap md:ml-[50%] mt-10 ">
        <div class="flex items-center w-full flex-col lg:flex-row">
          <div class="border rounded-xl py-2 px-5 bg-white w-[90%]  m-4 hover:border-gray-300 hover:text-purple-500 duration-700 md:w-[40%] lg:mb-24">
            <img src="assets/images/services-01.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[70%] mt-5 ">Mobile App and Websites</h1>
          </div>
          <div class="border rounded-xl py-2 px-5 bg-white w-[90%]   m-4 hover:border-gray-300 hover:text-purple-500 duration-700 md:w-[40%]">
            <img src="assets/images/services-02.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[80%] mb-4 ">
              Custom SYSTEMS, Financial, Management and Administration, Health.
            </h1>
          </div>
        </div>
        <div class="flex items-center w-full flex-col lg:flex-row ">
          <div class="border rounded-xl py-3 px-5 bg-white w-[90%] m-4 hover:border-gray-300 hover:text-purple-500 duration-700 md:w-[30%]">
            <img src="assets/images/services-03.webp" class="rounded-full mt-3 " />
            <h1 class="font-bold text-xl w-[80%] my-5 ">
              Data Base & Technology Consulting
            </h1>
          </div>
          <div class="border rounded-xl py-15 px-10 bg-white w-[90%]  m-4 hover:border-gray-300 hover:text-purple-500 duration-700 md:w-[40%]">
            <img src="assets/images/services-04.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[100%] my-5 ">
              Marketing & Design Community Manager
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>
