<footer class="bg-gray-800 w-full h-[200px]">
    <div class="container-width-ecommerce h-full">
        <div class="w-full h-full flex flex-col gap-10 items-center justify-center">
            <div class="flex gap-5 justify-center">
                <div class="w-[50px] h-[50px] bg-violet-500 rounded-lg"></div>
                <div class="w-[50px] h-[50px] bg-violet-500 rounded-lg"></div>
                <div class="w-[50px] h-[50px] bg-violet-500 rounded-lg"></div>
            </div>
            <div class="flex gap-5 justify-center">
                <div class="w-[50px] h-[5px] bg-violet-500 rounded-xl"></div>
                <div class="w-[50px] h-[5px] bg-violet-500 rounded-xl"></div>
                <div class="w-[50px] h-[5px] bg-violet-500 rounded-xl"></div>
                <div class="w-[50px] h-[5px] bg-violet-500 rounded-xl"></div>
            </div>
        </div>
    </div>
</footer>
