<!-- EcommerceFooter -->

<footer
  class="bg-[#342b53] container-width-ecommerce rounded-bl-none rounded-br-none mx-auto rounded-[80px] overflow-hidden h-[300px] ">
  <div class=" h-full">

    <div class="w-full h-full flex flex-row gap-10 items-center justify-between text-white">


      <!-- left section -->
      <div class="ml-10 flex gap-5 justify-center relative">
        <div class="flex flex-col justify-center items-center mt-4">
          <div class="w-[150px] mb-2 mt-[-20px]">
            <img src="../../../../assets/images/ImagenesEcommerce/Group.png" alt="SUINFI" class="">
          </div>
          <div class="bl-2 w-[150px] text-xl">
            <h2>e c o m m e r c e</h2>
          </div>
        </div>
      </div>


      <!-- rigth section -->
      <div class="flex flex-col gap-0.25 items-center">
        <div class="w-[250px] mb-0 flex items-center">
          <img src="../../../../assets/images/ImagenesEcommerce/Phone.png" alt="telefono" class="w-4 h-4 mr-2">
          <b class="">Teléfono</b>
        </div>
        <div class="w-[250px] mb-0 flex items-center">
          <p class="ml-6">+54 9 2644585555</p>
        </div>
        <div class="w-[250px] mb-0 flex items-center">
          <img src="../../../../assets/images/ImagenesEcommerce/Place Marker.png" alt="visit" class="w-4 h-4 mr-2">
          <b class="">Visitanos</b>

        </div>
        <div class="w-[250px] mb-0 flex items-center">
          <p class="ml-6">Rivadavia 524 (E) San Juan</p>
        </div>
      </div>

    </div>
  </div>
</footer>