<!-- EcommerceFooter -->


<footer class="bg-white w-full h-[100px] border-t-2">
  <div class="container-width-ecommerce h-full">
   
    <div
      class="w-full h-full flex flex-row gap-10 items-center justify-between"
    >
     <!-- left section -->
      <div class="flex gap-5 justify-center">
        <div class="w-[50px] h-[50px]">
          <img
            src="../../../../assets/images/logoDesign.png "
            alt="logo"
            class="rounded-full"
          />
        </div>
        <div class="flex flex-col justify-center items-center">

            <div class="w-[150px] ">
                <h1 class="text-3xl font-semibold">SUINFI</h1>
              </div>
              <div class="w-[150px] text-xs">
                <h2>ECOMMERCE</h2>
              </div>

        </div>
        
      </div>
      <!-- rigth section -->
      <div class="flex gap-5 justify-center items-center">
        <div class=" ">
            <b>Teléfono</b>
            <p>+54 9 2644585555</p>
        </div>
        <div class="w-[250px] ">

            <b>Visitanos</b>
            <p>Rivadavia 524 (E) San Juan</p>

        </div>
        <div class="cursor-pointer w-[20px] h-[12px]" >
            <img src="../../../../assets/icons/dropIcon.png" alt="icon" class="w-full h-full" >
        </div>
        
      </div>
    </div>
  </div>
</footer>
