<!-- Nav-bar -->
<app-navbar></app-navbar>
<!-- Main-banner -->
<div class="mr-20 mb-36 flex">
  <section class="flex items-center ml-16 mt-16 mb-16"></section>
  <div class="flex-1">
    <img
      src="assets/images/banner-left.webp"
      alt="Banner Left"
      class="absolute top-[5px] left-0 w-194 h-655 z-[-1]"
    />
    <div
      class="opacity-90 mt-20 ml-[30px] shadow-lg rounded-[23px] p-10 flex-col gap-20 lg:w-[45%] lg:flex-row flex-2 bg-white h-[800px] flex-wrap -mx-6 mb-1"
    >
      <div class="">
        <div class="">
          <h1 class="text-2xl font-semibold text-violet-700 mb-10">
            SOFTWARE FACTORY
          </h1>
          <div class="bg-[#DECDFA] h-0.5 w-[35%] mb-4"></div>
        </div>
        <div class="">
          <h2 class="font-bold max-w-86 mb-20 text-5xl line-clamp-3">
            Dive <span class="text-[#5b03e4]">Into the Software</span> World
            <span class="text-[#c03afe]">With SUINFI</span>
          </h2>

          <p class="text-[#0b070b] leading-8 max-w-[430px]">
            SUINFI is the best software factory for your company. We have a new
            way to build technology that transforms businesses while caring for
            the environment and society. Home, About, and FAQ.
          </p>

          <div
            class="mt-4 flex justify-center items-center space-x-4 h-[250px]"
          >
            <button
              href="#"
              class="text-base text-white bg-[#5b03e4] py-3 px-8 inline-block rounded-full font-normal capitalize tracking-wide transition-all duration-300 relative overflow-hidden"
            >
              Discover More
            </button>
            <p class="text-gray-500">or</p>
            <button
              href="#"
              class="text-base text-white bg-purple-600 py-3 px-8 inline-block rounded-full font-normal capitalize tracking-wide transition-all duration-300 relative overflow-hidden"
            >
              Check our FAQs
            </button>
          </div>
        </div>
      </div>
    </div>
    <img
      src="assets/images/banner-right.webp"
      alt="Banner Right"
      class="absolute right-0 top-1 bottom-0 w-861 h-746 -rotate-0 z-[-1]"
    />
  </div>

  <!-- Services-->
  <div
    class="mt-[1200px] w-[100%] h-[100%] absolute bg-[url('assets/images/services-left.webp')] bg-no-repeat"
  >
    <section class="flex items-center flex-col">
      <div class="ml-[700px]">
        <h1 class="text-4xl w-[90%] font-bold font-sans">
          We Provide <em class="text-[#5B03E4]">Different Services</em> &
          <em class="text-[#C07DFE]">Features</em> For Your Company
        </h1>
        <div class="bg-[#8765be] h-0.5 w-[20%] mt-10"></div>
        <p class="mt-8 opacity-35 w-[90%]">
          SUINFI is a company dedicated to the development of web pages,
          applications, digital marketing, technical support, sale of digital
          products, but mainly to the sale of software services in general.
        </p>
      </div>

      <div class="flex flex-wrap ml-[50%] mt-10 mr-20">
        <div class="flex justify-between">
          <div class="border rounded-xl py-2 px-5 bg-white w-1/2 mb-10 m-4 pb-3 hover:border-gray-300 hover:text-purple-500 duration-700">
            <img src="assets/images/services-01.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[70%] mt-5 ">Mobile App and Websites</h1>
          </div>
          <div class="border rounded-xl py-15 px-5 bg-white w-1/2 m-4 hover:border-gray-300 hover:text-purple-500 duration-700">
            <img src="assets/images/services-02.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[80%] mb-4 ">
              Custom SYSTEMS, Financial, Management and Administration, Health.
            </h1>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="border rounded-xl py-15 px-5 bg-white w-1/2 m-4 hover:border-gray-300 hover:text-purple-500 duration-700">
            <img src="assets/images/services-03.webp" class="rounded-full mt-3 " />
            <h1 class="font-bold text-xl w-[80%] my-5 ">
              Data Base & Technology Consulting
            </h1>
          </div>
          <div class="border rounded-xl py-15 px-10 bg-white w-1/2 m-4 hover:border-gray-300 hover:text-purple-500 duration-700">
            <img src="assets/images/services-04.webp" class="rounded-full mt-3" />
            <h1 class="font-bold text-xl w-[100%] my-5 ">
              Marketing & Design Community Manager
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Info-->
  <!-- <div class="w-[1875x] h-[901px] flex justify-center items-center relative  ">
   <img  class= "w-full absolute h-full"src="/assets/infos-bg.webp" alt="">
 <div class=" flex justify-center items-center  relative ">
   <div>
   <img  class="flex justify-center items-center  h-[706px] w-[636px] rounded-l-3xl"src="/assets/left-infos.webp" alt="">
 </div>
 
 <div class="bg-white h-[706px] w-[636px] pl-16 pr-8 justify-center items-center rounded-r-3xl">
   <div>
    <h1 class="text-3xl pt-12 font-bold"> Explore <span class='text-[rgb(86,1,227)]'> Digital  </span> Infinity</h1>
 </div>
 
 <div class="bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-0.5 w-[35%] mt-10 justify-center"></div>
 <div>
    <h2 class="mb-8 mt-8">
 To succeed in today's competitive market you need to stay abreast of new technologies. This allows you to achieve:
    </h2>
   </div>  
   <div>
    <h3 class="mb-8">
     <span class="font-bold">Improved efficiency: </span><span class='text-black'> Tools are often designed to get work done faster, simplify processes, or automate repetitive tasks, improving efficiency in software production</span>
    </h3>
   </div>
   <div class="mb-8">
    <h3>
     <span class="font-bold">Product quality:</span> <span class='text-black'> It can raise the quality of the developed software, improving the usability, security and stability of the final product</span>
    </h3>
   </div>
   <div  class="mb-8">
    <h3>
     <span class="font-bold">Competitiveness: </span> <span class='text-black'> Being up to date with the latest technological trends can give you a competitive advantage.</span>
    </h3>
   </div >
   <div class="mb-8">
    <h3>
     <span  class="font-bold">Customer satisfaction:</span> <span class='text-black'> New technologies can enable the delivery of products that are more aligned with customer expectations.</span>
    </h3>
   </div>
   <div class="mb-8">
    <h3>
        <span class="font-bold">Attracting talent:</span> <span class='text-black'> Being at the technological forefront can attract talented and motivated professionals.</span>
        </h3> 
      </div>
    </div>
 </div>
 </div> -->

  <!-- Contact -->
  <!-- <app-card-contact/> -->
</div>
