
   <!-- Nav-bar -->
<app-navbar></app-navbar>
<!-- Main-banner -->
<div class="flex justify-center items-center relative mt-16">
   <div class="">
      <img src="assets/images/banner-left.png" alt="Banner Left" class="absolute top-[-1px] left-0 w-194 h-655 z-[-1]">
      <div class="w-[800px] h-[90%] shadow-lg rounded-lg p-6 flex flex-col gap-10 lg:w-[60%] lg:flex-row justify-center flex-2">
         <div class="flex-5" >
            <div class="flex-col">
               <h1 class="text-col">SOFTWARE FACTORY</h1>
               <div class="border-t border-[#5b03e4] w-16 mt-4 mb-2"></div>
               </div>
            <div class="p-3 lg:p-[1px] pl-[100px] w-full h-full overflow-hidden">
              <h1 class='text-3xl text-center font-bold pt-16'>Dive <span class='text-[#5b03e4]'>Into the Software</span> World 
               <span class='text-[#c03afe]'>With SUINFI</span></h1>
               <p class="text-base leading-8 text-gray-500">SUINFI is the best software factory for your company. We have a new way to build technology that transforms businesses while caring for the environment and society. Home, About, and FAQ.</p>
               <div class="w-full mt-4 flex justify-center items-center space-x-4">
                  <button type="submit" class='bg-[#5b03e4] border-none text-white rounded-3xl w-full h-11 max-h-[150px]'>Discover More</button>
                  <p class="text-gray-500">or</p>
                  <button type="submit" class='bg-[#c03afe] border-none text-white rounded-3xl w-full h-11 max-h-[150px]'>Check our FAQs</button>
               </div>
            </div>
         </div>    
   </div>
   <img src="assets/images/banner-right.png" alt="Banner Right" class="absolute right-0 top-1 bottom-0 -rotate-0 w-[861px] h-[746px] z-[-1]">
</div>

    
<!-- Info-->
<!-- <div class="w-[1875x] h-[901px] flex justify-center items-center relative  ">
   <img  class= "w-full absolute h-full"src="/assets/infos-bg.webp" alt="">
 <div class=" flex justify-center items-center  relative ">
   <div>
   <img  class="flex justify-center items-center  h-[706px] w-[636px] rounded-l-3xl"src="/assets/left-infos.webp" alt="">
 </div>
 
 <div class="bg-white h-[706px] w-[636px] pl-16 pr-8 justify-center items-center rounded-r-3xl">
   <div>
    <h1 class="text-3xl pt-12 font-bold"> Explore <span class='text-[rgb(86,1,227)]'> Digital  </span> Infinity</h1>
 </div>
 
 <div class="bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)] h-0.5 w-[35%] mt-10 justify-center"></div>
 <div>
    <h2 class="mb-8 mt-8">
 To succeed in today's competitive market you need to stay abreast of new technologies. This allows you to achieve:
    </h2>
   </div>  
   <div>
    <h3 class="mb-8">
     <span class="font-bold">Improved efficiency: </span><span class='text-black'> Tools are often designed to get work done faster, simplify processes, or automate repetitive tasks, improving efficiency in software production</span>
    </h3>
   </div>
   <div class="mb-8">
    <h3>
     <span class="font-bold">Product quality:</span> <span class='text-black'> It can raise the quality of the developed software, improving the usability, security and stability of the final product</span>
    </h3>
   </div>
   <div  class="mb-8">
    <h3>
     <span class="font-bold">Competitiveness: </span> <span class='text-black'> Being up to date with the latest technological trends can give you a competitive advantage.</span>
    </h3>
   </div >
   <div class="mb-8">
    <h3>
     <span  class="font-bold">Customer satisfaction:</span> <span class='text-black'> New technologies can enable the delivery of products that are more aligned with customer expectations.</span>
    </h3>
   </div>
   <div class="mb-8">
    <h3>
        <span class="font-bold">Attracting talent:</span> <span class='text-black'> Being at the technological forefront can attract talented and motivated professionals.</span>
        </h3> 
      </div>
    </div>
 </div>
 </div> -->
 

<!-- Contact -->
<!-- <app-card-contact/> -->