<section class="flex items-center justify-center h-[1300px] w-[100%] xl:h-[1000px] relative ">
  <img class="absolute left-0 top-0" src="/assets/images/contact-left.webp" alt="" />
  <img class="absolute right-0 bottom-0 -rotate-0 scale-x-[-1] " src="/assets/images/contact-left.webp" alt="" />
  <div class="bg-white w-[90%] h-[90%] shadow-xl rounded-3xl flex flex-col max-w-[600px] gap-3   lg:flex lg:flex-row lg:max-w-[1000px] lg:h-[60%] relative xl:max-w-[1200px]  xl:h-[780px]  xl:mt-4 ">
    <div class="lg:h-[100%] lg:w-[45%] ">
      <app-map-contact class="flex justify-center "/>
    </div>
    <div class="xl:w-[60%] xl:pt-6 ">
      <app-form-contact class="w-[100%] h-[100%] flex justify-center"/>
    </div>
  </div>
</section>