
<section class="flex overflow-hidden items-center justify-center h-[1400px] w-[100%] xl:h-[1000px] relative ">
  <img class="absolute left-0 top-0" src="/assets/images/contact-left.webp" alt="" />
  <img class="absolute right-0 bottom-0 -rotate-0 scale-x-[-1] " src="/assets/images/contact-left.webp" alt="" />
  <div class="bg-white shadow-xl rounded-3xl relative container-width flex flex-col lg:flex-row justify-between gap-10 lg:gap-0 lg:pb-10 2xl:px-5">
    <div class="lg:h-[100%] lg:w-[50%]">
     <!-- call map component -->
      <app-map-contact class="flex justify-center 2xl:justify-start"/>
    </div>
    <div class="xl:w-[50%] xl:pt-6">
      <!-- call form component -->
      <app-form-contact class="w-[100%] h-[100%] flex justify-center"/>
    </div>
  </div>
</section>

<!-- bg-white  relative w-[90%] h-[90%] shadow-xl rounded-3xl flex flex-col max-w-[600px] gap-3   lg:flex lg:flex-row lg:max-w-[1000px] lg:w-[95%] lg:h-[60%]   xl:max-w-[1200px]  xl:h-[780px]  xl:mt-4 ">
    <div class="lg:h-[100%] lg:w-[45%]  -->