<nav class="bg-gradient-to-r from-[#b3c9dd] to-[#835089] h-[105px] border-b-[5px] border-[#834f89]">
  <div class="container-width-ecommerce flex">
    <div class="flex items-center pt-4 w-full justify-between">

      <!-- Left side: Primary Nav and First Image -->
      <div class="flex space-x-4">
<!-- Logo -->
        <div>
          <img src="../../../../assets/images/logoDesign.png " alt="Suinfi Logo" class="h-14 w-14 md:h-[70px] md:w-[70px] object-cover z-20">
         </div>
        <!-- primary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="#" class="py-5 px-2 hover:text-gray-200 font-semibold text-[#f9f8fa] text-lg">SECCIÓN 1</a>
          <a href="#" class="py-5 px-2 hover:text-gray-200 font-semibold text-[#f9f8fa] text-lg">SECCIÓN 2</a>
          <a href="#" class="py-5 px-2 hover:text-gray-200 font-semibold text-[#f9f8fa] text-lg">SECCIÓN 3</a>
          <a href="#" class="py-5 px-2 hover:text-gray-200 font-semibold text-[#f9f8fa] text-lg">SECCIÓN 4</a>
        </div>

      </div>

      <div class="flex items-center space-x-4 ml-auto">
        <!-- search bar -->
        <form action="" class="relative mx-10" (submit)="search(searchInput.value)">
          <div class="relative flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute z-10 h-10 w-12 py-auto border-r border-transparent px-3.5 stroke-gray-800 bg-opacity-20" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
            <input #searchInput type="search" placeholder="Que estas buscando..."  class="peer relative flex w-[200px] h-9 md:h-10 md:w-[300px]  rounded-xl border-none bg-[#f9f8fa] pl-12 pr-4 outline-none focus:cursor-text focus:border-gray-300" />
          </div>
        </form>

        <!-- secondary nav -->
        <div class="hidden md:flex items-center ml-7">
          <a href="" class="text-[#f9f8fa] font-normal text-xl">User name</a>
          <a href="#"><img src="../../../../assets/images/ImagenesEcommerce/userIcon.png" alt="User Icon" class="w-14 h-14 object-cover"></a>
          <a href="#"><img src="../../../../assets/images/ImagenesEcommerce/cartIcon.png" alt="Cart Icon" class="ml-7 object-cover"></a>
        </div>
      </div>

      <!-- Mobile button goes here -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu hidden bg-[#f9f8fa] -z-10 mt-3 md:hidden">
    <a href="#" class="block py-2 px-4 text-sm font-medium hover:bg-[#9680ab]">SECCIÓN 1</a>
    <a href="#" class="block py-2 px-4 text-sm font-medium hover:bg-[#9680ab]">SECCIÓN 2</a>
    <a href="#" class="block py-2 px-4 text-sm font-medium hover:bg-[#9680ab]">SECCIÓN 3</a>
    <a href="#" class="block py-2 px-4 text-sm font-medium hover:bg-[#9680ab]">SECCIÓN 4</a>
  </div>
</nav>
