<section class="projects relative flex flex-col shrink-0 items-center justify-center pt-[30px] lg:justify-start lg:items-start mb-[72px]">
    <div class="flex flex-col w-[75%] justify-center items-center text-center sm:w-[500px] lg:items-start lg:text-left lg:mx-14 lg:w-[680px] 2xl:mx-[300px]"> 
        <h2 class="font-bold mb-8 text-[30px]">{{ "projects.discover" | translate }}<span class="text-violet-800"> {{ "projects.wo" | translate }}</span> & <span class="text-fuchsia-500">{{ "projects.pro" | translate }}</span></h2>
        <div class="w-[60px] h-[2px] mb-5 bg-purple-500 bg-gradient-to-r from-[rgb(86,1,227)] to-[rgb(197,60,255)]"></div>
        <p class="text-[#afafaf]">{{ "projects.team" | translate }}</p>
        <p class="text-[#afafaf]">{{ "projects.lasttitle" | translate }}</p>
    </div>
    <div class="owl-features flex mt-20 owl-carousel">
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-01.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">SUINFI</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div>
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-02.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">{{ "projects.carrumobi" | translate }}</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div>
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-06.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">{{ "projects.carrubrand" | translate }}</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div> 
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-04.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">{{ "projects.carrufinance" | translate }}</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div>
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-24.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">{{ "projects.carrtechno" | translate }}</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div>
      <div class="rounded-3xl overflow-hidden">
        <img src="assets/images/projects-03.webp" alt="">
        <div class="bg-white border border-solid border-violet-300 relative h-[70px] rounded-b-3xl flex text-center justify-center items-center md:justify-start md:text-start md:h-20">
          <h4 class="font-bold text-sm text-zinc-900 leading-7 w-[100%] md:w-[70%] md:pl-7 sm:text-lg">{{ "projects.carruweb" | translate }}</h4>
          <a class="w-11 h-11 flex leading-[46px] text-center shadow-xl rounded-full absolute bg-white text-purple-700 top-0 translate-y-[-23px] justify-center items-center md:top-1/2 md:right-5" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9.172 14.829l5.657-5.657M7.05 11.293l-1.414 1.414a4 4 0 1 0 5.657 5.657l1.412-1.414m-1.413-9.9l1.414-1.414a4 4 0 1 1 5.657 5.657l-1.414 1.414"/></svg></a>
        </div>
      </div>
    </div>
</section>
