<div class="footer-contact-container">
<div class="bg-footer-image w-full bg-center bg-cover bg-no-repeat flex justify-evenly items-center">
  <div class="text-white text-2xl font-bold my-16 tracking-[.01em]">
    <h4 class="mb-1">Are You Ready To Work & Develop With Us ?</h4>
    <p>Don't Hesitate & Contact Us !</p>
  </div>
  <div class="contact-btn ml-11">
    <a href="" class="bg-white text-purple-700 px-5 py-2 rounded-full no-underline"> Contact us Now ! </a>
  </div>
</div>

<div class="my-6 text-slate-700 tracking-[.01em]  text-[13px] font-[385] text-center no-underline">
    <p>Copyright © 2023 
      <a href="#">SUINFI</a>
      . All rights reserved.
    </p>  
  </div>
</div>