header.scrolled {
    /* Estilos para la barra de navegación cuando está "scrolled" */
    position: fixed; /* Fija la barra en la parte superior */
    top: 0; /* La coloca al inicio de la página */
    z-index: 999; /* Asegura que se posicione encima de otros elementos */
    /* Otros estilos que desee aplicar en el estado "scrolled" */
  }

  .dropdown-content {
    transition: all 0.3s ease-in-out;
  }

  

li.group:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

li.group:hover .sub-nav {
  display: flex;
  flex-direction: column;
}


.sub-nav:hover > ul {
  display: inline-block;
}

.select-translate {
  width: 80px;
  appearance: none; 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  &:hover {
    border-color: #ddd;
  }
  &:focus {
    outline: 2px solid #cc02ff;
  }
}

.select-translate option {
  /* Common styles for the options */
  padding: 5px 10px;
  position:relative
}
