 <div  class="pl-4 w-11/12 ml-10 mr-4">
        
        <div class="bg-white border border-opacity-30 border-black shadow-lg p-4 rounded-xl flex items-center mt-8 mr-4 h-2/6">
            <div class="relative w-1/5 h-1/5 p-0 my-6 ml-10 mr-12">

                <img src="./../../../assets/images/ImagenesEcommerce/Ellipse 3.png" alt="Fondo" class="w-full h-full object-cover">
                
                <div class="absolute bottom-0 left-0 w-full">
                    <img src="./../../../assets/images/ImagenesEcommerce/Group 225.png" alt="Superpuesta" class="px-8 py-2">
                </div>
            </div>
            
            <div class="p-0">
                <div class="mb-6 ml-6">
                    <h2 class="text-4xl font-bold mb-2">SUINFI</h2>
                </div>
                <div class="mt-0 ml-6">
                    <p class="p-2 text-[#5D5D5D]">Se unio en Agosto de 2019</p>
                </div>
                <div class="mt-0 ml-6">
                    <p class="p-2 text-[#5D5D5D]">Córdoba Argentina</p>
                </div>
            </div>
        </div> 

        <div class="ml-8">
            <div class="p-4 mt-2 font-bold text-3xl">
                <h4>Información de la cuenta</h4>
            </div>
            <div class=" py-0 px-4 ">
                <h2 class="font-bold py-2 px-0 ">Nombre y apellido</h2>
                <span>Suinfi</span>
                <h2 class="font-bold py-2 px-0 mt-4">Telefono</h2>
                <span class="mb-0">3541 643680</span>
                <h2 class="font-bold py-2 px-0 mt-4">Mail</h2>
                <span>Suinfigmail.com</span>
            </div>

        </div> 
