<div class=" pt-10 lg:pt-16 ">
  <div class="bg-footer-image w-full bg-center bg-cover bg-no-repeat ">

    <div
    class="container-width flex flex-col items-center lg:flex-row justify-center lg:justify-between text-white text-center py-8 lg:text-left lg:py-0"
      
    >
      <div class="text-2xl lg:text-3xl font-bold my-2 tracking-[.01em] lg:my-16">
        <h4 class="mb-1">{{ "footer-contact.ready" | translate }}</h4>
        <p>{{ "footer-contact.contact" | translate }}</p>
      </div>
      <div class="contact-btn mt-4 lg:ml-11">
        <a
          href=""
          class="bg-white text-base font-normal text-purple-700 px-5 py-3 rounded-full no-underline hover:bg-[#F2DFF9]"
          >{{ "footer-contact.contactus" | translate }}</a
        >
      </div>
    </div>
  </div>

  <!-- <div
    class="my-5 lg:my-6 text-slate-700 tracking-[.01em] text-[13px] lg:font-[385] text-center no-underline"
  >
    <p>
      Copyright © 2023 <a href="#" class="text-[#5b03e4]">SUINFI</a>. All rights
      reserved.
    </p>
  </div> -->
  <app-footer></app-footer>
</div>

